*{
  font-family: 'Courier New', Courier, monospace;
}

p{
  font-family: 'Courier New', Courier, monospace;
}

.wrapper{
  margin-left: 0%;
  width: auto;
}
header{
  margin-left: 0%;
}

.Sect-l-1{
  background: none;
  /*
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  */
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  
}


/*bigger screens*/
@media screen and (min-width: 1100px){
  header{
    margin-left: 15%;
  }
}

/*small screens*/
@media screen and (max-width: 800px){
  .Front-title{
    text-align: center;
  }
}