/*here is my insanely messy code!! :)*/


*{
    transition-duration        : 0.2s;
    -moz-transition-duration   : 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration     : 0.2s;
    font-family: 'Muli', sans-serif;
    text-rendering             : optimizeLegibility;
    -webkit-font-smoothing     : antialiased;
    -moz-osx-font-smoothing    : grayscale;
}

body{
  background-color: #FFFFFF;
  background-image: linear-gradient(195deg, #FFFFFF 0%, #d2dce7 50%);
  background-repeat    : no-repeat;
  background-size      : cover;
  background-attachment: fixed;
}

img {
    border-radius: 5px;
    width: 100%;
}

img:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:hover{
  text-decoration: none;
}

a{
  text-decoration: none;
  list-style: none;
}
li{
  list-style: none;
}


/************************************************************************************/
.container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
@media screen and (max-width: 500px){
    .container{
        display: inline-flex;
        height: 100%;
        width: 100%;
    }
}


/*************************************************************************************/




/*************************************************************************************/


#link-b-1{
  border: solid 1px;
  border-left-color  : #408af8;
  border-bottom-color: #408af8;
  border-right-color : #408af8;
  border-top-color   : #408af8;
  background-color   : #fafafa;
  padding: 2em;
  text-align: center;
}
#link-b-1 a:hover{
  text-decoration: underline;
}
#link-b-1 ul{
  margin-left: 0px;
}
#link-b-1 li{
  margin-left: 0em;
  margin-bottom: 0.5em;
  padding-bottom:1em;
  border-right-color : #408af8;
  border-top-color   : #408af8;
  border-top: solid 0.1em;
  list-style: none;
  padding: 1.5em;
}
#link-b-1 li:hover{
  background-color   :#fafafa;
  border-right-color: #408af8;
  border-bottom: 0em solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#link-b-1 a{
  background-color: #fcfcfd;
  border-top-color:  #2979FF;
  border-left-color: none;
  color: #ff0266;
}
@media screen and (max-width: 500px){
  #link-b-1{
    padding: 1em;
  }

  #link-b-1 li{
      padding:0.5em;
  }
  #link-b-1 li:hover{
    background-color   :#fafafa;
    border-right-color: #408af8;
    border-bottom: 0em solid;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  }
}

/*************************************************************************************/

#iron-man{
    background-color: none;
    color: #000000;
}
#hulk{
    border-right-color: #74e6ba;
}

#rotten-tomatoes{
    background-color: #df1c1c;
    color: #ffffff;
}

#IMDB{
    background-color: #ffd327;
}


/************************************************************************************/
.table-overflow{
  overflow-x: auto;
}
@media screen and (min-width: 600px){
#goal-scorers{
  color: #8e8da9;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  }
}
table {
  border-left: solid 10px;
  border-color: #3d5afe;
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(even) {
  background: #E8EAF6;
  color: #000000;
}
th {
  background-color: #3621fd;
  color: #ffffff;
  text-align: center;
  border: solid 1px #ffffff;
  font-weight: bold;
  padding: 0.1em;
}
td {
  padding: 1em;
  border: 0px solid #000000;
  text-align: center;
}


/*************************************************************************************/

#bold_title{
  text-align: center;
  font-size: 3em;
  font-weight: 800;
}

#subtitle{
  border-top: 1px solid #080303;
  text-align: right;
}

#background_1{
  padding: 5em;
  color: #ffffff;
  background-image: url("/assets/img/WP_20141130_16_22_31_Pro__highres.jpg");
  background-repeat    : no-repeat;
  background-size      : cover;
  background-attachment: fixed;
}
@media screen and (max-width: 500px){
  #background_1{
    padding: 1em;
  }
  #bold_title{
    padding: 1em;
    font-size: 2em; 
  }
  #subtitle{
    padding: 1em;
  }
}
/*************************************************************************************/

/*Section medium 1_________________________________________________________________________________________________________*/

.Sect-m-1{
    text-align: left;
    width: 100%;
    padding: 0px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
}
.About-para-m-1{
    border-bottom-style: none;
    padding: 0px;
    margin-top: 5px;
}
.About-para-m-1-a{
    padding: 10px;
    text-align: left;
}
/*big screens*/
@media screen and (min-width: 800px){
    .Sect-m-1{
        text-align: left;
        width: 50%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .About-para-m-1{
        padding-left: 150px;
        padding-top: 0px;
        padding-right: 0px;
        border-style: none;
    }
    .About-para-m-1-a{
        text-align: left;
        margin-right: 2%;
        margin-bottom: 1%;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
/*small screens*/

@media screen and (max-width: 500px){
    .Sect-m-1{
        padding: 0px;
        margin-bottom: 0%;
    }
    .About-para-m-1{
        border-style: none;
    }
    .About-para-m-1-a{
        padding: 5px;
        padding-top: 5px;
        text-align: left;
    }
}




/*Section medium 2______________________________________________________________________________*/
.Sect-m-2{
    text-align: left;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0%;
}
.About-para-m-2{
    border: 0px;
    border-style: none;
    padding: 0px;
    margin-top: 5px;
}

.About-para-m-2-a{
    padding: 5px;
}

/*big screens*/
@media screen and (min-width: 800px){
    .Sect-m-2{
        text-align: left;
        width: 50%;
        padding: 0px;
    }
    .About-para-m-2-a h2{
        text-align: left;
    }
    .About-para-m-2{
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 150px;
        border-style: none;
    }
    .About-para-m-2-a{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        margin-bottom: 2%;
    }
}
/*small screens*/
@media screen and (max-width: 500px){
    .Sect-m-2{
        padding: 0px;
        margin-bottom: 1px;
        margin-top: 0%;
    }
    .About-para-m-2{
        border-style: none;
    }
    .About-para-m-2-a{
        padding: 5px;
    }
}


/*Section large 1+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.Sect-l-1{
    text-align: left;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.About-para-l-1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0px;
    border-style: none;
    border-radius: 0.1em;
    padding: 20px;
    margin-top: 0.5em;
    background-color: #fafafa;

}


/*small screens*/
@media screen and (max-width: 500px){
    .Sect-l-1{
        padding: 0px;
        margin-bottom: 1px;
    }
    .About-para-l-1{
        padding: 10px;
        margin-bottom: 1px;
    }
}
/*big screens*/
@media screen and (min-width: 1100px){
    .Sect-l-1{
        width: 100%;
        padding-top: 0px;
        padding-left: 250px;
        padding-right: 250px;
        padding-bottom: 10px;
        margin: 0px;
    }
    .About-para-l-1{
        padding-top: 3%;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 20px;
    }
}




/************************************************************************************/


/************************************************************************************************************************/
/*

Home

*/
@media screen and (max-width: 800px){
  .wrapper{
    padding-right: 5px;
    padding-left: 5px;
}
}
.home{
  background-color: none;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  padding: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 800px){
  .home{
    padding: 0px;
  }
}
.home a{
  color: #ffffff;
}
.page-heading{
  width: 100%;
}
.rss-subscribe{
  width: 100%;
}
.post-list ul{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  overflow: auto;
  white-space: nowrap;

}
.front-heading{
  text-align: center;
  width: 100%;
  padding: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}
@media screen and (max-width: 650px){
  .front-heading{
    padding-left: 5px;
    padding-right: 5px;
  }
}
.page-heading{
  font-size: 3em;
}
.post-list a{
  /*background-color: #fcfcfd;*/
  border-top: solid 0px #2979FF;
  border-left: solid 0.7em #2979ff;
  -moz-border-radius: 0.1em;
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 0%;
  margin-right: 0%;
}

.post-list a:hover{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    border-bottom: #2979ff solid 0px;
    border-right: #2979ff solid 0px;
    background-color: #bedbfd;

}
/*-----Bigger screens-----*/
@media screen and (min-width: 800px){
  .post-list a{
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    width: auto;
    display: block;
  }
}
@media screen and (max-width: 800px){
  .front-heading{
    margin: 0%;
}
}

.post-list ul{
    display: block;
    margin: 0%;
    padding: 0px;
    text-align: center;
}
.post-list a{
    border-bottom: #2979ff solid 0px;
    border-right: #2979ff solid 0px;
    display: block;
    margin-top: 1%;
}


/************************************************************************************************************************/

.liverpool:hover{
  text-decoration: underline;
}

#captain{
  background-color: #7f0000;
  color: #ffffff;
}
#captain a{
  color: #ffffff;
}

#loan{
  background-color: #1976d2;
  color: #ffffff;
}

#loaned-out{
  background-color: #004d40;
  color: #ffffff;
}

#championsLeagueImage{
  background-color: none;
}

#topFour{
  background-color: #e7bdff;
}
#relegation{
  background-color: #b63434;
  color: #ffffff;
}

/************************************************************************************************************************/
