
.trigger {
    padding              : 8px;
}

.site-header{
    border               : none;
}
.site-header a:hover{
    border-radius        : 0px;
    border-bottom        : 0px;
    border-bottom-style  : solid;
}
.site-header li{
    box-shadow           : 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    padding              : 0px;
    border               : 0px;
    border-bottom        : 0px;
    border-top           : 0px;
    border-style         : none;
    display              : inline-block;
}
.site-header ul{
    margin               : 0%;
}

.nav{
    border-radius        : 0.5em;
    font-size            : 1.5em;
    padding              : 1%;
    box-shadow           : 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    white-space: nowrap;
}
.nav:hover{
    box-shadow           : 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}
.nav a{
    padding              : 2px;
    margin-left          : 2px;
    margin-right         : 2px;
}
@media screen and (min-width: 1000px){
    .nav:hover{
        margin-left      : 7%;
        margin-right     : 7%;
    }
}


