.trigger {
    padding : 8px;
}
.site-header a.site-title{
    padding: 0px;
}
.site-header{
    background-color: #fafafa23;
    border-bottom        :  #000000 solid 2px;
    border-top           : 0px;
    border-bottom        : solid 0px;
}
.site-header a:hover{
    border-radius        : 0px;
    border-bottom        : 0px;
    border-bottom-style  : solid;
}
.site-header li{
    box-shadow           : 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    padding              : 0px;
    padding-left         : 20px;
    padding-right        : 20px;
    border               : 0px;
    border-bottom        : 1px;
    border-top           : 0px;
    border-style         :   solid;
    font-size            : 0.7em;
    display              : inline-block;
    text-align: center;
}
.site-header li:hover{
    border-bottom: solid 5px;
}
.site-header ul{
    margin               : 0%;
    text-align: center;
}
/*
.page-link{}
*/

.nav{
    border-radius        : 0em;
    padding-bottom:       0px;
    overflow: auto;
    white-space: nowrap;

}


nav{
  font-family: 'Roboto Slab', serif;
  margin-bottom: 1em;
}
