.trigger {
    padding              : 8px;
}

.site-header{
    border               : none;
}
.site-header a:hover{
    color                :  inherit;
    background-color     :  none;
    border-radius        :  0px;
    border-bottom        :  0px;
    border-bottom-style  :  solid;
}
.site-header li{
    box-shadow           : 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    padding              : 0px;
    border               : 0px;
    border-bottom        : 0px;
    border-top           : 0px;
    border-style         : none;
    display              : inline-block;
}
.site-header ul{
    margin               : 0%;
}

.nav{
    background-color     : #fbff18;
    border-radius        : 0.5em;
    font-size            : 1.5em;
    filter               : opacity(80%);
    padding              : 1%;
    box-shadow           : 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav:hover{
    box-shadow           : 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}
.nav a{
    color                : #000000;
    filter               : opacity(100%);
    padding              : 2px;
    margin-left          : 2px;
    margin-right         : 2px;
}
.nav a:hover{
    color                : #ff0263;
}
@media screen and (min-width: 1000px){
    .nav:hover{
        margin-left      : -17%;
        margin-right     : -17%;
    }
}


