/*

Home

*/

.home{
  background-color: none;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  padding: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 800px){
  .home{
    padding: 5px;
  }
}
.home a{
  color: #ffffff;
}
.page-heading{
  width: 100%;
}
.rss-subscribe{
  width: 100%;
}
.post-list ul{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}
.front-heading{  
  text-align: center;
  width: 100%;
  padding: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}
@media screen and (max-width: 650px){
  .front-heading{
    padding-left: 5px;
    padding-right: 5px;
  }
}
.page-heading{
  font-size: 3em;
}
.post-list li{
  background-color: #271616;
  /*background-color: #fcfcfd;*/
  border-top: solid 1px #2979FF;
  border-left: solid 1px #2979ff;
  -moz-border-radius: 0.1em;
  -webkit-border-radius: 0.1em;
  border-radius: 0.5em;
  padding: 30px;
  text-align: center;
  
}
.post-list li:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom: #2979ff solid 3px;
    border-right: #2979ff solid 0px;
    
}
/*-----Bigger screens-----*/
@media screen and (min-width: 800px){
  .post-list li{
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    width: auto;
    display: block;
  }
  .post-list li:hover{
    margin-left: -5%;
    margin-right: -5%;
    filter: opacity(100%);
  }
}
@media screen and (max-width: 800px){
  .front-heading{
    margin: 0%;
    padding: 0px;
    text-align: left;
  }
  .post-list ul{
    display: block;
    margin: 0%;
    padding: 0px;
    text-align: center;
  }  
  .post-list li{
    border-bottom: #2979ff solid 2px;
    border-right: #2979ff solid 2px;
    display: block;
    margin-top: 1%;
    overflow: hidden;
  }
}