/*here is my insanely messy code!! :)*/

/*text color*/



/*Base css*/
html{
    /*background-color:#0c101c;
    background-color     : #f6f9fc;
    background-image     : url("/assets/img/blob-green.svg");
    */
    background-image: none;
    background-color: #FFFFFF;
    background-image: linear-gradient(195deg, #FFFFFF 0%, #d2dce7 50%);

    /*
    background-color: #070721;
    background-image: linear-gradient(19deg, #070721 0%, #005588 100%);
    */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
body{
  background-image     : inherit;
  background-repeat    : no-repeat;
  background-size      : cover;
  background-attachment: fixed;
  background-color:none;
}
.Front-title{
  color: #000000;
}

/*
.Front-title{
  background-color: #ffffff;
  background-image     : url("/assets/img/background_04.svg");
  background-repeat    : no-repeat;
  background-size      : cover;
  background-attachment: fixed;


}



.front-heading{
    background-image     : none;
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
}

*/




#iron-man{
    background-color: none;
    color: #000000;
}
#hulk{
    border-right-color: #74e6ba;
}

#rotten-tomatoes{
    background-color: #df1c1c;
    color: #ffffff;
}

#IMDB{
    background-color: #ffd327;
}

/*header*/

.site-header{
    background-color: transparent;

}
.site-header li{
    border-color: #3d5afe;
}
.site-header li:hover{
    border-bottom-color: #74e6ba;
}

.nav{
    background-color: transparent;
}

.trigger{
    background-color: transparent;
}

.page-link h2{
    color: #f6f9fc;
}


.site-header a.site-title{
    color: #000000;
}


.site-header a.page-link{
    color: #000000;
}





.highlight{
    border-top-color:     #000000;
    border-bottom-color:  #000000;
}



.sub-heading{
    background-color  : none;
    border-right-color:#408af8;
    border-top-color  :#408af8;
}







/*Section large 1+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.Sect-l-1{
    background-color:none;
}
.About-para-l-1{
    background-color: #fafafa;
    color: #000000;
    font-weight: bolder;
}
.About-para-l-1 a{
  letter-spacing: normal;
  color: #ff0266;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
}



/*Section display 1+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.display-class-1{
    background-color: none;
}
.display-class-1-inner{
    border-left-color  :#408af8;
    border-bottom-color:#408af8;
    border-right-color :#408af8;
    border-top-color   :#408af8;
    background         : none;
}

.display-class-1-inner li{
    border-left-color  : #408af8;
    border-bottom-color: #408af8;
    border-right-color : #408af8;
    border-top-color   : #408af8;
    background-color   : #fafafa;
}

.display-class-1-inner li:hover{
    background-color   :#caf3d3;
    border-right-color: #408af8;
}

/*Section medium 1_________________________________________________________________________________________________________*/

.Sect-m-1{
    background-color: none;
}
.About-para-m-1{
    background      : inherit;
}

.About-para-m-1-a{
    background-color: #fafafa;
}
/*big screens*/
@media screen and (min-width: 800px){
    .About-para-m-1{
        background: inherit;
    }
}

/*Section medium 2______________________________________________________________________________*/
.Sect-m-2{
    background-color: inherit;
}
.About-para-m-2{
    background: inherit;
}
.About-para-m-2-a{
    background-color: #fafafa;
}
.About-para-m-2-a p{
    color: #000000;
}

/*big screens*/
@media screen and (min-width: 800px){
    .About-para-m-2{
        background: none;
    }
}



/*

Home

*/

.home{
    background-color: none;
    color: #000000;
  }
.home a{
      color:#000000;
}
.post-list a{
      /*
    background-image: url("/assets/img/blur_01.svg");
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;*/
    background-color: #fcfcfd;
    border-top-color:  #2979FF;
    border-left-color: none;
    color: #000000;
}
.post-list a:hover{
      border-bottom-color: #2979ff;
      border-right-color: #2979ff;

}
@media screen and (max-width: 800px){
  .post-list a{
    border-bottom-color: #2979ff;
    border-right-color: #2979ff;
  }
}








 .Score{
    background-color: #282830;
 }

.Score h1{
    color           : #ffffff;
}
.sect-50{
  background-color: inherit;
}
