

<div class="text-right card-body red-background">
    <h2 class="lead">Scores</h2>
</div>
<div class="table-overflow">

    <table class="table">
        <thead class="thead-light text-center">
            <tr>
                <th colspan="1" scope="col" id="teamOne">Italy</th>
                <th colspan="1" scope="col" id="teamTwo">Spain</th>
            </tr>
        </thead>
        <tr class="text-center">
            <td>
                <h3 id="scoreOne" class="text-center">0</h3>
            </td>
            <td>
                <h3 id="scoreTwo" class="text-center">2</h3>
            </td>
        </tr>
    </table>

    <table class="table">
        <thead class="thead-light text-center">
            <tr>
                <th colspan="1" scope="col" id="teamOne">Belguim</th>
                <th colspan="1" scope="col" id="teamTwo">France</th>
            </tr>
        </thead>
        <tr class="text-center">
            <td>
                <h3 id="scoreOne" class="text-center">2</h3>
            </td>
            <td>
                <h3 id="scoreTwo" class="text-center">3</h3>
            </td>
        </tr>
    </table>
</div>