---
layout: default
---

<div class="white-link black-background container">


      <h1 class="title f2 f1-m f-headline-l measure-narrow lh-title mv0">Five-Link</h1>

      <p class="lead my-3">{{ site.description }}</p>

      <p class="lead mb-0">
            <a href="/about/" class="font-weight-bold">Continue reading...</a>
      </p>


</div>


{% include explore_links.html %}


{% include /podcasts/top-podcasts-01.html %}

<div class="container red-background grey-link"><h3 class="f3 mid-gray lh-title"><a href="https://graphics.reuters.com/world-coronavirus-tracker-and-maps/" target="_blank">Covid tracker and News by reuters.</a></h3></div>

<main role="main" class="container">

      <article class="cf">
            <div class="fl w-50 bg-light-gray container">
                  {% include techNews.html %}
            </div>

            <div class="fl w-50 container">
                  {% include design_and_photography.html %}
            </div>
      </article>
      <br>




      <aside class="container">
            <br>
            <div class="">


                  <h4 class="font-italic">About</h4>
                  <p class="mb-0">{{site.description}}</p>
                  <a href="/about/">more info</a>
            </div>
            <hr>
            <div class="">
                  <br>
                  <ul>
                        <li><a class="" href="/archieved/">Archieved</a></li>
                  </ul>
            </div>

            <div class="wrapper">

            </div>
      </aside>


      <div class="card">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                  (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-8613892269045774",
                        enable_page_level_ads: true
                  });
            </script>
      </div>


      </div>

</main>

</div>