---
layout: default
---
{% include hero.html %}
<div class="container">

<div class="Sect-l-1">
<div class="About-para-l-1" id="link-b-1">

{% include links.html %}
</div>
</div>


<!--class="db pv4 ph3 ph0-l no-underline"--->
<section class="mw7 center avenir" style="padding-top: 2em;">
  <h1 class="fw1 ph3 ph0-l" id="link-b-1">Latest Posts</h1>
  {% for post in site.posts %}
  <article class="bt bb b--black-10">
    <a  href="{{ post.url | prepend: site.baseurl }}">
      <div class="flex flex-column flex-row-ns" id="link-b-1">
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="{{post.img}}" class="db" alt="Photo.">
        </div>
        <div class="w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw1 mt0 lh-title">{{post.title}}</h1>
          <p class="f6 f5-l lh-copy">{{post.description}}</p>
          <p class="f6 lh-copy mv0">{{post.author}}</p>
        </div>
      </div>
    </a>
  </article>
  {% endfor %}
</section>


<div class="Sect-l-1">
<div class="About-para-l-1" id="link-b-1">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8613892269045774",
      enable_page_level_ads: true
    });
  </script>
</div>
</div>
</div>
