

<script>

//var englishTeams = document.getElementById("englishTeams");
//Group A
var chamionsLeagueGroupA = ["Borussia Dortmund","Atletico Madrid","Club Brugge","Monoco"];
var championsLeaguePointsGroupA = [13,13,6,1];
var championsLeagueGoalDifferenceGroupA = [8,3,1,-12];

//Group B
var chamionsLeagueGroupB = ["Barcelona","Tottenham","Inter","PSV"];
var championsLeaguePointsGroupB = [14,8,8,2];
var championsLeagueGoalDifferenceGroupB = [9,-1,-1,-7];

//Group C
var chamionsLeagueGroupC = ["Paris Saint Germain","Liverpool","Napoli","Red Star"];
var championsLeaguePointsGroupC = [11,9,9,4];
var championsLeagueGoalDifferenceGroupC = [8,2,2,-12];
//Group D
var chamionsLeagueGroupD = ["FC Porto","Schalke","Galatasaray","Lokomotiv Moscow"];
var championsLeaguePointsGroupD = [16,11,4,3];
var championsLeagueGoalDifferenceGroupD = [9,2,-3,-8];
//Group E
var chamionsLeagueGroupE = ["Bayern Munich","Ajax","Benfica","AEK Athens"];
var championsLeaguePointsGroupE = [14,12,7,0];
var championsLeagueGoalDifferenceGroupE = [10,6,-5,-11];
//Group F
var chamionsLeagueGroupF = ["Manchester City","Lyon","Shakhtar Donetsk","Hoffenhiem"];
var championsLeaguePointsGroupF = [13,8,5,3];
var championsLeagueGoalDifferenceGroupF = [10,1,-8,-3];
//Group G
var chamionsLeagueGroupG = ["Real Madrid","Roma","Viktoria Pizen","CSKA Moscow"];
var championsLeaguePointsGroupG = [12,9,7,7];
var championsLeagueGoalDifferenceGroupG = [7,3,-9,-1];
//Group H
var chamionsLeagueGroupH = ["Juventus","Man Utd","Valencia","Young Boys"];
var championsLeaguePointsGroupH = [12,10,8,4];
var championsLeagueGoalDifferenceGroupH = [5,3,0,-8];

</script>

<div class="About-para-l-1">
<h1>Tables</h1>
</div>
<div class="About-para-l-1">
<h1 id="championsLeagueImage">Champions League Groups</h1>
</div>
<div class="About-para-l-1">
<div class="table-overflow">
<table>
<th><p>Group: A</p></th>
<th><p>Club</p></th>
<th><p>Points</p></th>
<th><p>Goal Difference</p></th>
<tr id="qualification">
<td><h1>1</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupA[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupA[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupA[0])</script></h2>
</td>
</tr>
<tr id="qualification">
<td><h1>2</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupA[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupA[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupA[1])</script></h2>
</td>
</tr>
<tr id="euroQualification">
<td><h1>3</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupA[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupA[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupA[2])</script></h2>
</td>
</tr>
<tr>
<td><h1>4</h1></td>
<td>
<h2><script>document.write(chamionsLeagueGroupA[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupA[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupA[3])</script></h2>
</td>
</tr>





<th><p>Group: B </p></th>
<th><p>Club</p></th>
<th><p>Points</p></th>
<th><p>Goal Difference</p></th>
<tr id="qualification">
<td><h1>1</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupB[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupB[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupB[0])</script></h2>
</td>
</tr>
<tr id="qualification">
<td><h1>2</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupB[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupB[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupB[1])</script></h2>
</td>
</tr>
<tr id="euroQualification">
<td><h1>3</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupB[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupB[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupB[2])</script></h2>
</td>
</tr>
<tr>
<td><h1>4</h1></td>
<td>
<h2><script>document.write(chamionsLeagueGroupB[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupB[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupB[3])</script></h2>
</td>
</tr>


<th><p>Group: C</p></th>
<th><p>Club</p></th>
<th><p>Points</p></th>
<th><p>Goal Difference</p></th>
<tr id="qualification">
<td><h1>1</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupC[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupC[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupC[0])</script></h2>
</td>
</tr>
<tr id="qualification">
<td><h1>2</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupC[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupC[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupC[1])</script></h2>
</td>
</tr>
<tr id="euroQualification">
<td><h1>3</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupC[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupC[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupC[2])</script></h2>
</td>
</tr>
<tr>
<td><h1>4</h1></td>
<td>
<h2><script>document.write(chamionsLeagueGroupC[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupC[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupC[3])</script></h2>
</td>
</tr>


<th><p>Group: D</p></th>
<th><p>Club</p></th>
<th><p>Points</p></th>
<th><p>Goal Difference</p></th>
<tr id="qualification">
<td><h1>1</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupD[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupD[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupD[0])</script></h2>
</td>
</tr>
<tr id="qualification">
<td><h1>2</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupD[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupD[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupD[1])</script></h2>
</td>
</tr>
<tr id="euroQualification">
<td><h1>3</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupD[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupD[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupD[2])</script></h2>
</td>
</tr>
<tr>
<td><h1>4</h1></td>
<td>
<h2><script>document.write(chamionsLeagueGroupD[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupD[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupD[3])</script></h2>
</td>
</tr>


<th><p>Group: E</p></th>
<th><p>Club</p></th>
<th><p>Points</p></th>
<th><p>Goal Difference</p></th>
<tr id="qualification">
<td><h1>1</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupE[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupE[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupE[0])</script></h2>
</td>
</tr>
<tr id="qualification">
<td><h1>2</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupE[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupE[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupE[1])</script></h2>
</td>
</tr>
<tr id="euroQualification">
<td><h1>3</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupE[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupE[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupE[2])</script></h2>
</td>
</tr>
<tr>
<td><h1>4</h1></td>
<td>
<h2><script>document.write(chamionsLeagueGroupE[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupE[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupE[3])</script></h2>
</td>
</tr>


<th><p>Group: F</p></th>
<th><p>Club</p></th>
<th><p>Points</p></th>
<th><p>Goal Difference</p></th>
<tr id="qualification">
<td><h1>1</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupF[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupF[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupF[0])</script></h2>
</td>
</tr>
<tr id="qualification">
<td><h1>2</h1></td>
<td>
<h2><script>document.write(chamionsLeagueGroupF[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupF[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupF[1])</script></h2>
</td>
</tr>
<tr id="euroQualification">
<td><h1>3</h1></td>
<td>
<h2><script>document.write(chamionsLeagueGroupF[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupF[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupF[2])</script></h2>
</td>
</tr>
<tr>
<td><h1>4</h1></td>
<td>
<h2><script>document.write(chamionsLeagueGroupF[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupF[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupF[3])</script></h2>
</td>
</tr>

<th><p>Group: G</p></th>
<th><p>Club</p></th>
<th><p>Points</p></th>
<th><p>Goal Difference</p></th>
<tr id="qualification">
<td><h1>1</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupG[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupG[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupG[0])</script></h2>
</td>
</tr>
<tr id="qualification">
<td><h1>2</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupG[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupG[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupG[1])</script></h2>
</td>
</tr>
<tr id="euroQualification">
<td><h1>3</h1></td>
<td>
<h2><script>document.write(chamionsLeagueGroupG[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupG[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupG[2])</script></h2>
</td>
</tr>
<tr>
<td><h1>4</h1></td>
<td>
<h2><script>document.write(chamionsLeagueGroupG[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeaguePointsGroupG[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupG[3])</script></h2>
</td>
</tr>

<th><p>Group: H</p></th>
<th><p>Club</p></th>
<th><p>Points</p></th>
<th><p>Goal Difference</p></th>
<tr id="qualification">
<td><h1>1</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupH[0])</script></h2>
</td>
<td>
  <h2><script>document.write(championsLeaguePointsGroupH[0])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupH[0])</script></h2>
</td>
</tr>
<tr id="qualification">
<td><h1>2</h1></td>
<td >
<h2><script>document.write(chamionsLeagueGroupH[1])</script></h2>
</td>
<td>
  <h2><script>document.write(championsLeaguePointsGroupH[1])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupH[1])</script></h2>
</td>
</tr>
<tr id="euroQualification">
<td><h1>3</h1></td>
<td>
<h2><script>document.write(chamionsLeagueGroupH[2])</script></h2>
</td>
<td>
  <h2><script>document.write(championsLeaguePointsGroupH[2])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupH[2])</script></h2>
</td>
</tr>
<tr>
<td><h1>4</h1></td>
<td>
<h2><script>document.write(chamionsLeagueGroupH[3])</script></h2>
</td>
<td>
  <h2><script>document.write(championsLeaguePointsGroupH[3])</script></h2>
</td>
<td>
<h2><script>document.write(championsLeagueGoalDifferenceGroupH[3])</script></h2>
</td>
</tr>
</table>
</div>
