<div class="row">

<div class="col">

<div class="padding-1"id="blue-background">



<h1 class="display-4 font-weight-normal title" id="light-blue-background">Explore these Links</h1>
<ol class="list-unstyled mb-0">
  <li><a class="list-group-item border-primary shadow wide-hover explore-links-title" target="_blank" href="https://www.yankodesign.com/2020/12/08/this-half-ton-truck-camper-holds-a-complete-tiny-home-for-your-outdoor-adventures/">A Truck that holds a tiny home.</a></li>
  <li><a class="list-group-item border-primary shadow wide-hover explore-links-title" target="_blank" href="https://gizmodo.com/how-to-prepare-for-the-next-time-the-cloud-goes-down-1844865149">How to prepare for when the cloud goes down.</a></li>
  <li><a class="list-group-item border-primary shadow wide-hover explore-links-title" target="_blank" href="https://www.popsci.com/sleep-pain-change-position/">It's time to change your sleeping position</a></li>
  <li><a class="list-group-item border-primary shadow wide-hover explore-links-title" target="_blank" href="https://www.health.com/condition/infectious-diseases/coronavirus/cdc-small-gatherings-covid">CDC on small gatherings</a></li>
  <li><a class="list-group-item shadow wide-hover explore-links-title" target="_blank" href="https://www.yankodesign.com/2020/10/13/the-logitech-ultra-concept-transforms-from-a-keyboard-to-a-sketchpad-for-the-ultimate-multitasking-experience/">Logitech ultra concept transforms from a keyboard to a sketchpad</a></li>
</ol>

</div>
</div>
</div>
