
<div class="blue-background container">

  <header class="tc ph4">

    <h1 class="title f2 f1-m f-headline-l measure-narrow lh-title mv0">

      Explore these Links

    </h1>

    <h2 class="f5 f4-m f3-l fw2 black-50 mt0 lh-copy">

    </h2>

  </header>

 
  <hr>

  <ol class="list-unstyled mb-0 white-link">
    <h2 class="f3 mid-gray lh-title">
      <li class="">

      <a class="" target="_blank" href=" https://www.cnbc.com/2021/03/03/what-are-nfts-all-you-need-to-know-about-crypto-collectibles.html">

        What are NFTs? Crypto collectables.

      </a>

    </li>

  </h2>
  <hr>
    <h2 class="f3 mid-gray lh-title">
      <li class="">

      <a class="" target="_blank" href="https://www.bbc.co.uk/news/science-environment-55562150">

        3000 days on Mars.

      </a>

    </li>

  </h2>

  <hr>
  

  <h2 class="f3 mid-gray lh-title">
    <li class="">
      <a class="" target="_blank" href="https://www.nytimes.com/2021/01/09/at-home/things-to-do-this-week.html">
        Things to do at home this week.
      </a>
    </li>
  </h2>
  <hr>
  <h2 class="f3 mid-gray lh-title">
    <li class="">
      <a class="" target="_blank" href="https://www.yankodesign.com/2020/12/16/this-thumb-sized-unbreakable-waterproof-ssd-makes-cloud-storage-feel-ancient/">
        Thumb sized waterproof SSD
      </a>
    </li>
  </h2>
  <hr>
  <h2 class="f3 mid-gray lh-title">
    <li class="">
      <a class="" target="_blank" href="https://www.creativebloq.com/news/google-blob-opera">
        Blob Opera!
      </a>
    </li>
  </h2>
  <hr>
</ol>












</div>


