<main class="border-1">
  <h1>Explore Links</h1>
  <ol class="gradient-list">
    <li>
      <a class="links-1" target="_blank" href="https://www.theverge.com/2023/9/28/23893939/jony-ive-openai-sam-altman-iphone-of-artificial-intelligence-device?utm_source=flipboard&utm_content=topic%2Fartificialintelligence">
        The iPhone of AI
      </a>
    </li>
    <li>
      <a class="links-1" target="_blank" href="https://www.wallpaper.com/design-interiors/experimental-editions-origin-made-new-brand-gabriel-tan">
        a design brand embracing the beauty of imperfection
      </a>
    </li>
    <li>
      <a class="links-1" target="_blank" href="https://techcrunch.com/2023/09/28/adobe-launches-photoshops-web-version-with-firefly-powered-ai-tools/?utm_source=flipboard&utm_content=topic%2Fartificialintelligence&guccounter=1">
        Adobe launches photoshop web version.
      </a>
    </li>
    <li>
      <a class="links-1" target="_blank" href="https://www.makeuseof.com/youtube-channels-learn-graphic-design/?utm_source=flipboard&utm_content=topic%2Fgraphicdesign">
        Youtube: learning graphic design.
      </a>
    </li>
    <li>
      <a class="links-1" target="_blank" href="https://www.nytimes.com/2023/09/28/world/asia/ms-swaminathan-dead.html">
        Scientist Who Helped Conquer Famine in India, Dies at 98
      </a>
    </li>

  </ol>
</main>