<table>
    <tr>
    <td>Film Title</td>
    <td>Film Year</td>
    <td>Rotten Tomatoes Score</td>
    <td>IMDB Meta Score</td>
    </tr>
    <tr>
        <td id="film-title">
            <h2>No Time to Die</h2>
        </td>
        <td id="film-release-year">
            <h2>2021</h2>
        </td>
        <td id="rotten-tomatoes">
            <a href="https://www.rottentomatoes.com/m/no_time_to_die_2021" target="_blank">
                <h2>83%</h2>
            </a>
        </td>
        <td id="IMDB">
            <h2>70</h2>
        </td>
    </tr>
</table>