<h4 class="text-white display-4">
    Quote of the day
</h4>
<div class="pa4 text-white">
    <blockquote class="athelas ml0 mt0 pl4 white-90 bl bw2 b--blue">
      <p class="f5 f4-m f3-l lh-copy measure mt0">
        “I am fundamentally an optimist. Whether that comes from nature or nurture, I cannot say. Part of being optimistic
        is keeping one's head pointed toward the sun, one's feet moving forward. There were many dark moments when my
        faith in humanity was sorely tested, but I would not and could not give myself up to despair. That way lays defeat
        and death.”
      </p>
      <cite class="f6 ttu tracked fs-normal">― Nelson Mandela</cite>
    </blockquote>
  </div>
<!--<img class="w-100 dib measure f3" src="/assets/img/drawing_01b.svg" alt="A photo"/>-->
