



<tr><td>
    <a class="b db pa2 link dim mid-gray" href="https://www.skysports.com/football/news/12691/12090709/transfer-window-winners-and-losers-everton-and-aston-villa-transformed-but-manchester-united-frustrated" target="_blank">Premier League: Winners and losers of the transfer window.</a>
</td></tr>

<tr><td>
    <a class="b db pa2 link dim mid-gray" href="https://www.creativebloq.com/inspiration/best-world-cup-logos-ever" target="_blank">Best World Cup logos</a>
</td></tr>





<!--








  <li>
      <a href="https://www.creativebloq.com/inspiration/best-world-cup-logos-ever" target="_blank">Best World Cup logos</a>
  </li>

  <li>
      <a href="https://www.skysports.com/football/news/11838/12079927/luis-suarez-atletico-madrid-set-to-sign-barcelona-forward-for-5-5m" target="_blank">Luis Saurez is set to leave Barcelona</a>
  </li>
    <li>
        <a href="https://www.90min.com/posts/england-right-back-options-ranked" target="_blank">England Right-back options ranked</a>
    </li>
  <li>
    <a href="  https://www.skysports.com/football/news/12040/12073073/sergio-reguilon-tottenham-agree-deal-with-real-madrid-to-sign-defender" target="_blank">
       Tottenham agree deal with Real Madrid to sign defender
    </a>
  </li>

  <li>
    <a href="https://onefootball.com/en/news/liverpool-identified-anderlecht-starlet-as-sadio-mane-replacement-30985931" target="_blank">
      Liverpool replacement for Sadio Mane?
    </a>
  </li>
  <li>
    <a href="https://www.skysports.com/football/news/11671/12062280/james-rodriguez-will-colombias-2014-world-cup-star-return-to-his-best-form-at-everton" target="_blank">James Rodriguez how he could transform Everton.</a>
  </li>
    <li>
        <a href="https://www.premierleague.com/fixtures" target="_blank">Premier league announce fixture list for the upcoming season.</a>
    </li>

    <hr>
    <li>
        Sevilla Knock Manchester Utd out of the Europa League.
    </li>

    <hr>
    <li>
        Barcelona are humiliated 8-2 by Bayern Munich in an extraordinary display.
    </li>

    <hr>

    <li>
        Liverpool have signed Olympiakos left back Tsimikas.
    </li>
    <hr>

    <li>
        Manchester City are through to the quarter finals of the Champions league after knocking out Real Madrid with a comfortable 2-1 victory.
    </li>
    <hr>

    <li>
        Fulham are back in the Premier League after a nervy 2-1 victory against Brentford.
    </li>
    <hr>
    <li>
        <a href="https://www.eurosport.co.uk/football/premier-league/2019-2020/chelsea-vs-leicester-vs-man-utd-whos-in-pole-position-to-make-the-champions-league_sto7805497/story.shtml">
            Who's in pole position for the champions league places.
        </a>
    </li>
    <hr>
    <li>
        Aston Villa Beat Arsenal to set up relegation final day thriller.
    </li>
    <hr>
    <li>
        Premier League matches are coming back on the 17th of June.
    </li>
    <hr>
    <li>
        Bayern Munich beat Brorussia Dortmund in a close but in the end comfortable game by 1-0.
    </li>
    <hr>
    <li>
        All Premier leauge matches are suspended for the foreseeable future.
    </li>
    <hr>
    <li>
        Bayern Munich beat Brorussia Dortmund in a close but in the end comfortable game by 1-0.
    </li>
    <hr>
    <li>
        Premier league -  Serie A - Manchester Utd - Inter Milan Ashley Young is expected to be moving to Inter Milan in the summer.
    </li>
    <hr>
    <li>
        premier league - Crystal palace hung on to draw with Brighton and Hove Albion.
    </li>
    <hr>
    <li>
        premier league - Everton - Anciloti has joined Everton Football Club
    </li>
    <hr>
</ul>
-->