<footer class="footer-light">
 <div class="footer-light-list-wrap-about">
    <div class="footer-light-title-about">
      <div class="footer-light-title-about-inner">
        <a href="/about/"><h4>ABOUT</h4></a>
      </div>
    </div>
  </div>
  <div class="footer-light-list-wrap-contact">
    <div class="footer-light-title-contact">
      <div class="footer-light-title-contact-inner">
        <a href="mailto:{{ site.email }}"><h4>CONTACT</h4></a>
      </div>
    </div>
  </div>
  <div class="footer-light-list-wrap-learn">
    <div class="footer-light-title-learn">
      <div class="footer-light-title-learn-inner">

      </div>
    </div>
  </div>
  <div class="footer-light-list-wrap-follow">
    <div class="footer-light-title-follow">
      <div class="footer-light-title-follow-inner">
        
      </div>
    </div>
  </div>
  <div class="closure">
    <div class="closure-copyright">
      {{ site.description }}
    </div>
  </div>

</footer>
