<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <ul>
          <li>
            <a href="/about/">
              <h4>ABOUT</h4>
            </a>
          </li>
          <li>
            <a href="mailto:{{ site.email }}">
              <h4>CONTACT</h4>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-4">
        <ul>
          <li>
            <a href="/pictures/">
              <h4>PICTURES</h4>
            </a>
          </li>
          <li>
            <a href="/archieved/">
              <h4>ARCHIEVE</h4>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>