
<nav class="nav bt bb tc mw7 center mt4">
  <a class="f4 f5-l link bg-animate hover-bg-lightest-blue dib pa3 ph4-l" href="{{ site.baseurl }}/">Home</a>
  <a class="f4 f5-l link bg-animate hover-bg-light-green dib pa3 ph4-l" href="/football-data/">Football-Data</a>
  <a class="f4 f5-l link bg-animate hover-bg-light-pink dib pa3 ph4-l" href="/quotes/">Quotes</a>
  <a class="f4 f5-l link bg-animate hover-bg-light-yellow dib pa3 ph4-l" href="/films/">Films</a>
  <a class="f4 f5-l link bg-animate hover-bg-light-blue dib pa3 ph4-l" href="/podcasts/">Podcasts</a>
</nav>
