




<p class="f6 ttu tracked black-80" style="text-align: right;">10 August</p>
<h1 style="text-align: left;">Links to explore Today</h1>
<ul style="text-align: right;">
  <a class="post-link" target="_blank" href="http://www.bbc.com/future/story/20190809-how-the-views-of-a-few-can-determine-the-fate-of-a-country?ocid=global_future_rss"><li>How the views of a few can determine the fate of a country?</li></a>
  <a class="post-link" target="_blank" href="https://www.omnicalculator.com/everyday-life/social-media-time-alternatives"><li>How many books can you read if you quit social media?</li></a>
  <a class="post-link" target="_blank" href="https://remysharp.com/2019/08/06/predictably-random"><li>How to predict random outcomes?</li></a>
  <a class="post-link" target="_blank" href="https://getpocket.com/explore/item/a-quiet-revolution-in-botany-plants-form-memories?utm_source=pocket&utm_medium=email&utm_campaign=pockethits"><li>A quiet revolution in botany plants form Memories?</li></a>
  <a class="post-link" target="_blank" href="http://www.fubiz.net/en/2019/08/07/breathtaking-concept-hotel-for-daredevils-2/?utm_source=feedly&utm_medium=webfeeds"><li>Hotel for taking a swim off a mountain</li></a>
</ul>
