








<span class="post-meta">4 Febuary</span>
<h1>Five Links to explore this week</h1>
<ul>
<a class="post-link" target="_blank" href="https://www.theguardian.com/lifeandstyle/2019/feb/04/surgeon-spice-girl-people-high-pressure-jobs-cope-stress"><li>How to deal with stress from people who work in high pressure jobs</li></a>
<a class="post-link" target="_blank" href="https://www.recode.net/2019/1/28/18196379/digital-detox-fuss-about-and-how-does-it-actually-work"><li>Digital detox does it actually work?</li></a>
<a class="post-link" target="_blank" href="https://www.webdesignerdepot.com/2019/01/6-ways-designers-can-avoid-infringing-intellectual-property-rights/"><li>6 ways designers can avoid infringing intellectual property rights</li></a>
<a class="post-link" target="_blank" href="https://www.theverge.com/2019/1/28/18194816/ai-artificial-intelligence-issue"><li>AI in 2019</li></a>
<a class="post-link" target="_blank" href="https://peeke.nl/simulating-blobs-of-fluid"><li>Simulating blobs of fluid</li></a>
</ul>
