








<span class="post-meta">25 March</span>
<h1>Five Links to explore this week</h1>
<ul>
<a class="post-link" target="_blank" href="https://aeon.co/essays/are-scientific-theories-really-better-when-they-are-simpler"><li>Are scientific theories really better when they are simpler</li></a>
<a class="post-link" target="_blank" href="https://www.techrepublic.com/article/the-3-least-secure-programming-languages/"><li>The least secure programming languages(with caveats)</li></a>
<a class="post-link" target="_blank" href="https://boingboing.net/2019/03/24/evaldas-rimasauskas.html"><li>A Man who stole millions from Google and Facebook</li></a>
<a class="post-link" target="_blank" href="http://www.fubiz.net/en/2019/03/25/into-erik-johanssons-magical-world-2/"><li>Into erik johanssons magical world 2</li></a>
<a class="post-link" target="_blank" href="https://www.forbes.com/sites/johnwelsheurope/2019/03/25/how-entrepreneur-andrea-rasca-will-grow-his-own-vegetables-to-get-the-quality-at-a-price-he-demands/"><li>How entrepreneur andrea rasca will grow his own vegetables to get the quality at a price he demands</li></a>
</ul>
