<table class="table">

        <tr><td><h2></h2></td><td id = "IMDB"><h2>IMDB</h2></td><td id = "rotten-tomatoes"><h2>Rotten Tomatoes</h2></td><td><h2> Year released</h2></td></tr>

        <tr id = "iron-man"><td><h2>Iron Man</h2></td><td><h2>79</h2></td><td><h2>94%</h2></td><td><h2>2008</h2></td></tr>

        <tr id = "hulk"><td><h2>The Incredible Hulk</h2></td><td><h2>61</h2></td><td><h2>67%</h2></td><td><h2>2008</h2></td></tr>

        <tr id = "iron-man"><td><h2>Iron Man 2</h2></td><td><h2>57</h2></td><td><h2>73%</h2></td><td><h2>2010</h2></td></tr>

        <tr id = "thor"><td><h2>Thor</h2></td><td><h2>57</h2></td><td><h2>77%</h2></td><td><h2>2011</h2></td></tr>

        <tr id = "captain-america"><td><h2>Captain America: the first Avenger</h2></td><td><h2>66</h2></td><td><h2>80%</h2></td><td><h2>2011</h2></td></tr>

        <tr id = "the-avengers"><td><h2>The Avengers</h2></td><td><h2>69</h2></td><td><h2>92%</h2></td><td><h2>2012</h2></td></tr>

        <tr id = "iron-man"><td><h2>Iron Man 3</h2></td><td><h2>62</h2></td><td><h2>80%</h2></td><td><h2>2013</h2></td></tr>

        <tr id = "thor"><td><h2>Thor: The Dark World</h2></td><td><h2>54</h2></td><td><h2>66%</h2></td><td><h2>2013</h2></td></tr>

        <tr id = "captain-america"><td><h2>Captain America : The Winter Soldier</h2></td><td><h2>70</h2></td><td><h2>89%</h2></td><td><h2>2014</h2></td></tr>

        <tr id = "guardians"><td><h2>Guardians of the Galaxy</h2></td><td><h2>76</h2></td><td><h2>91%</h2></td><td><h2>2014</h2></td></tr>

        <tr id = "the-avengers"><td><h2>The Avengers: Age of Ultron</h2></td><td><h2>66</h2></td><td><h2>75%</h2></td><td><h2>2015</h2></td></tr>

        <tr id = "ant-man"><td><h2>Ant Man</h2></td><td><h2>64</h2></td><td><h2>82%</h2></td><td><h2>2015</h2></td></tr>

        <tr id = "captain-america"><td><h2>Captain America: Civil War</h2></td><td><h2>75</h2></td><td><h2>91%</h2></td><td><h2>2016</h2></td></tr>

        <tr id = "doctor-strange"><td><h2>Doctor Strange</h2></td><td><h2>72</h2></td><td><h2>89%</h2></td><td><h2>2016</h2></td></tr>

        <tr id = "guardians"><td><h2>Guardians of the Galaxy Vol. 2</h2></td><td><h2>67</h2></td><td><h2>83%</h2></td><td><h2>2017</h2></td></tr>

        <tr id = "spider-man"><td><h2>Spider Man: Homecoming</h2></td><td><h2>73</h2></td><td><h2>92%</h2></td><td><h2>2017</h2></td></tr>

        <tr id = "thor"><td><h2>Thor Ragnarok</h2></td><td><h2>74</h2></td><td><h2>92%</h2></td><td><h2>2017</h2></td></tr>

        <tr id = "black-panther"><td><h2>Black Panther</h2></td><td><h2>88</h2></td><td><h2>97%</h2></td><td><h2>2018</h2></td></tr>

        <tr id = "the-avengers"><td><h2>Avengers: Infinity War</h2></td><td><h2>68</h2></td><td><h2>83%</h2></td><td><h2>2018</h2></td></tr>

        <tr id = "ant-man"><td><h2>Ant Man and the Wasp</h2></td><td><h2>70</h2></td><td><h2>87%</h2></td><td><h2>2018</h2></td></tr>

</table>


<table class="table">
  <th>
      <h2></h2>
  </th>
    <th id = "IMDB">
      <h2>IMDB</h2>
    </th>
    <th id = "rotten-tomatoes">
      <h2>Rotten Tomatoes</h2>
    </th>
    <th>
      <h2> Year released</h2>
    </th>
  

  <tr id = "ant-man"><td><h2>Ant Man and the Wasp</h2></td><td><h2>70</h2></td><td><h2>87%</h2></td><td><h2>2018</h2></td></tr>


</table>
