

<header class="py-3 container">
<div class="row flex-nowrap justify-content-between align-items-center">
<div class="col-4">

</div>
<div class="col-4 text-center">
<a class="navbar-brand text-primary" href="/">{{site.title}}</a>
</div>
<div class="col-4">

</div>
</div>
</header>


<nav class="justify-content-between d-flex nav-bar sticky-top d-flex justify-content-between" style="background-color: #000000;">
  <!-- Navbar content -->
  <a class="p-2 text-muted" href="/world/">World</a>
  <a class="p-2 text-muted" href="/technology/">Technology</a>
  <a class="p-2 text-muted" href="/design/">Design</a>
  <a class="p-2 text-muted" href="/culture/">Culture</a>
  <a class="p-2 text-muted" href="/business/">Business</a>
  <a class="p-2 text-muted" href="/polotics/">Politics</a>
  <a class="p-2 text" href="/football/">Football</a>
  <a class="p-2 text-muted" href="/science/">Science</a>
  <a class="p-2 text-muted" href="/health/">Health</a>
  <a class="p-2 text-muted" href="/pictures/">Pictures</a>
  <a class="p-2 text-muted" href="/understanding/">Understanding</a>
</nav>
