<!-- Navbar content -->
  
<header class="bg-black-90 fixed w-100 ph3 pv3 pv4-ns ph4-m nav">
  <nav class="f6">
    <a class="link dim white dib mr3 b" href="/" title="Home">Home</a>
    <a class="link dim white dib mr3 b" href="/football/">Football</a>
    <a class="link dim white dib mr3" href="/quotes/" title="Quotes">Quotes</a>
    <a class="link dim white dib mr3" href="/understanding/" title="Understanding">Understanding</a>
    <a class="link dim white dib" href="/films/" title="Understanding">Film</a>
  </nav>
</header>
<div class="paddingTwo black-background"></div>

