


<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
<a class="navbar-brand text-primary" href="/">{{site.title}}</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">
<ul class="navbar-nav mr-auto">
<li>
<a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
</li>
<li>
<a class="nav-item nav-link" href="/Footballdata/">Footballdata</a>
</li>
<!--

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
<a class="dropdown-item" href="/quotes/">Quotes</a>
<a class="dropdown-item" href="/podcasts/">Podcasts</a>

<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/films/">Films</a>


-->
</div>
</li>

</ul>

</div>
</div>

</nav>
