



<div class="Sect-l-1">

<!--<p><button onclick="sortTable()">Sort</button></p>-->

<div class="table-overflow">
    
<table id="premTable">
 <th>Position</th> <th>Team Name</th> <th title="Games Played">GP</th> <th title="Goal Difference">GD</th> <th title="Goals Scored">GS</th> <th title="Goals Conceded">GC</th> <th>Points</th>

<tr id="topFour" title="Champions League Place"> <td>1</td> <td>Manchester City</td>           <td id="GP">38</td> <td>+72</td>  <td>95</td> <td>25</td> <td>98</td> </tr>

<tr id="topFour" title="Champions League Place"> <td>2</td> <td><a href="/pages/Sport_pages/Profiles/Clubs/Profile_Liverpool.html">Liverpool FC</a></td>              <td id="GP">38</td> <td>+67</td> <td>89</td> <td>22</td> <td>97</td> </tr>

<tr id="topFour" title="Champions League Place"> <td>3</td> <td>Chelsea FC</td>                <td id="GP">38</td> <td>+24</td> <td>63</td>  <td>39</td> <td>72</td> </tr>

<tr id="topFour" title="Champions League Place"> <td>4</td> <td>Tottenham</td>                 <td id="GP">38</td> <td>+28</td> <td>67</td> <td>39</td> <td>71</td> </tr>

<tr> <td>5</td> <td> <a href="/pages/Sport_pages/Profiles/Clubs/Profile_Arsenal.html">Arsenal</a></td>             <td id="GP">38</td> <td>+22</td> <td>73</td> <td>51</td> <td>70</td> </tr>

<tr> <td>6</td> <td>Manchester Utd</td>            <td id="GP">38</td> <td>+11</td> <td>65</td> <td>54</td> <td>66</td> </tr>

<tr> <td>7</td> <td>Wolves</td>                    <td id="GP">38</td> <td>+1</td> <td>47</td> <td>46</td> <td>57</td> </tr>

<tr> <td>8</td> <td>Everton</td>                   <td id="GP">38</td> <td>+8</td> <td>54</td> <td>46</td> <td>54</td> </tr>

<tr> <td>9</td> <td>Leicester City</td>            <td id="GP">38</td> <td>+3</td> <td>51</td> <td>48</td> <td>52</td> </tr>

<tr> <td>10</td> <td>West Ham Utd</td>             <td id="GP">38</td> <td>-3</td> <td>52</td> <td>55</td> <td>52</td> </tr>

<tr> <td>11</td> <td>Watford</td>                  <td id="GP11">1</td> <td>-7</td> <td>52</td> <td>59</td> <td>50</td> </tr>

<tr> <td>12</td> <td>Crystal Palace</td>           <td>38</td> <td>-2</td> <td>51</td> <td>53</td> <td>49</td> </tr>

<tr> <td>13</td> <td>Newcastle United</td>         <td>38</td> <td>-6</td> <td>42</td> <td>48</td> <td>45</td> </tr>

<tr> <td>14</td> <td>AFC Bournemouth</td>          <td>38</td> <td>-14</td> <td>56</td> <td>70</td> <td>45</td> </tr>

<tr> <td>15</td> <td>Burnley</td>                  <td>38</td> <td>-23</td> <td>45</td> <td>68</td> <td>40</td> </tr>

<tr> <td>16</td> <td>Southampton</td>              <td>38</td> <td>-20</td> <td>45</td> <td>65</td> <td>39</td> </tr>

<tr> <td>17</td> <td>Brighton and Hove Albion</td> <td>38</td> <td>-25</td> <td>35</td> <td>60</td> <td>36</td> </tr>

<tr id="relegation"> <td>18</td> <td>Cardiff City</td>             <td>38</td> <td>-34</td> <td>34</td> <td>69</td> <td>34</td> </tr>

<tr id="relegation"> <td>19</td> <td>Fulham FC</td>                <td>38</td> <td>-47</td> <td>34</td> <td>81</td> <td>26</td> </tr>

<tr id="relegation"> <td>20</td> <td>Huddersfield Town</td>        <td>38</td> <td>-54</td> <td>22</td> <td>76</td> <td>16</td> </tr>

</table>
</div>

</div>



<script>

document.getElementById("GP11").innerHTML = "38";

</script>