
<script language="javascript">
var Competition = "Champions League";
var Group = "E";


var Team_1       = "AEK Athens";
var Score_1      = 0;
var Team_1_goals = "";

var Team_2       = "Bayern Munich";
var Score_2      = 2;
var Team_2_goals = "62' Javier Martinez, 64' Lewandowski";


var Team_3       = "Ajax";
var Score_3      = 1;
var Team_3_goals = "90' N.Mazraoui";

var Team_4       = "Benfica";
var Score_4      = 0;
var Team_4_goals = "";


</script>


<h1>Competition: <script>document.write(Competition)</script></h1>
<h1>Group: <script>document.write(Group)</script></h1>


<div class="display-class-1-inner">

<h1>
<script>
    document.write(Team_1);
</script>
</h1>
<div class="Score">
    <h1>
        <script>
            document.write(Score_1);
        </script>
    </h1>
</div>
<p>
    <script>
        document.write(Team_1_goals)
    </script>
</p>



<h1>
    <script>
    document.write(Team_2);
    </script>
</h1>
<div class="Score">
    <h1>
        <script>
            document.write(Score_2);
        </script>
    </h1>
</div>
<p>
    <script>
        document.write(Team_2_goals)
    </script>
</p>





</div>


<div class="display-class-1-inner">


<h1>
<script>
    document.write(Team_3);
</script>
</h1>
<div class="Score">
    <h1>
        <script>
            document.write(Score_3);
        </script>
    </h1>
</div>
<p>
    <script>
        document.write(Team_3_goals)
    </script>
</p>



<h1>
    <script>
    document.write(Team_4);
    </script>
</h1>
<div class="Score">
    <h1>
        <script>
            document.write(Score_4);
        </script>
    </h1>
</div>
<p>
    <script>
        document.write(Team_4_goals)
    </script>
</p>
</div>
