
<script>
    Team_1  = "Columbia"
    Score_1 = 0
    Team_1_goals = ""
    
    Team_2  = "Senegal"
    Score_2 = 0
    Team_2_goals = ""
    
</script>




<h1>
<script>
    document.write(Team_1);
</script>
</h1>
<div class="Score">
    <h1>
        <script>
            document.write(Score_1);
        </script>  
    </h1>
</div>
<p>
    <script>
        document.write(Team_1_goals)
    </script>
</p>



<h1>
    <script>
    document.write(Team_2);
    </script>
    </h1>
    <div class="Score">
        <h1>
            <script>
            document.write(Score_2);
            </script>
        </h1>
        
    </div>
    <p>
        <script>
            document.write(Team_2_goals)
        </script>
    </p>