
<ul>
  <li>
    <a href="https://www.yankodesign.com/2020/10/14/this-apple-x-procreate-controller-knob-for-the-ipad-pro-upgrades-your-artistic-workflow/" target="_blank">The new iPhones are here.</a>
  </li>
  <li>
    <a href="https://edition.cnn.com/2020/10/13/tech/5g-iphone-what-to-know/" target="_blank">The new iPhones are here.</a>
  </li>
  <li>
    <a href="https://www.androidcentral.com/amazfit-neo-40-smartwatch-retro-design-28-day-battery-life" target="_blank">Amazfit Neo is a $40 smartwatch</a>
  </li>

  <li><a href="https://thenextweb.com/android/2020/09/09/android-11-rolls-out-today-for-pixel-more/" target="_blank">Android 11 arrives.</a></li>

  <li><a href="https://www.ucdavis.edu/coronavirus/news/your-mask-cuts-own-risk-65-percent/">Promising news on face Masks.</a></li>

  <li><a href="https://thenextweb.com/readme/2020/05/28/how-the-dutch-government-uses-data-to-predict-the-weather-and-prepare-for-natural-disasters/" target="_blank">Preparing for weather and natural disasters in the Netherlands.</a></li>

  <li><a href="https://gearjunkie.com/garmin-instinct-solar-smartwatch-review" target="_blank">Solar smartwatches.</a></li>

  <li><a href="https://www.quantamagazine.org/how-and-why-computers-roll-loaded-dice-20200708/">How and why computers roll loaded dice.</a></li>
</ul>
