/****************************backgrounds*********************************/

.blue-background {
  color           : #ffffff;
  background-color: #0533e9;
}

.light-blue {
  background-color: #0965dd;
}

.black-background {
  color           : #ffffff;
  background-color: #000000;
  border-radius   : 0em;
}

.grey-white-background {
  color           : #000;
  background-color: #828282;

}

.green-background {
  background-color: #74e6ba;
  color           : blue;
}

.red-background {
  background-color: #FF0330;
  color           : #ffffff;
}

.purple-background {
  background-color: #321a5e;

}

/************************************************************************************************************************/
.white-link a {
  color          : #fff;
  text-decoration: none;
}

.white-link a:hover {
  color: #ff0379;
}

.grey-link a {
  color          : #fafafa;
  text-decoration: none;
}

.grey-link a:hover {
  color: #001aff;
}



.rounded-corners {
  border-radius: 0.8em;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/************************************************************************************************************************/
/****************************************************************************/

.bold-header{font-weight: 900; font-size: 3em; font-style:normal;}

.post-wrapper{
  background-color: #fafafa;
  display: flex;
}

.post-item{
  font-size: 1rem;
  background-color: #fff;
  padding: 1em;
  width: 75%;
  margin: 0.3em;
  text-align: right;

  //border: solid #d5008f 0.1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1em;
  background-color: #f2ecf2;
  background-image: linear-gradient(249deg, #f2ecf2 0%, #fdedfc 100%);
  
  span{
    color: #000;
  }
}
.post-item:hover{
    width: 95%;
}

/*************************************************************/
.wrap-element {
  position     : relative;
  overflow     : hidden;
  /*padding-top: 56.25%;*/
}

.wrap-iframe {
  border-radius: 0.8em;
  position     : relative;
  top          : 0;
  left         : 0;
  width        : 100%;
  height       : 270;
  border       : 0;
}


/***********************************************************************************************************************/
.topfour {
  background-color: #4b3879;
  color           : #ffffff;
}

.topfour a {
  color: #BAF1FF;
}

.topfour a:hover {
  color          : #ffffff;
  text-decoration: none;
}

.relegation {
  background-color: #b63434;
  color           : #ffffff;
}

.liverpool:hover {
  text-decoration: underline;
}

#captain {
  background-color: #FF0339;
  color           : #ffffff;
}

#captain:hover {
  background-color: #FF0330;
}

#captain a {
  color: #ffffff;
}

#loan:hover {
  background-color: #1976d2;
  color           : #ffffff;
}

#loaned-out {
  background-color: #004d40;
  color           : #ffffff;
}

#championsLeagueImage {
  background-color: none;
}

#qualification {
  background-color: #6000FF;
  color           : #ffffff;
}

#topFour {
  background-color: #BAF1FF;
}

#relegation {
  background-color: #b63434;
  color           : #ffffff;
}

#euroQualification {
  background-color: #FF9619;
}

/*********************************************************/
.table-overflow {
  overflow-x: auto;
}

table {
  color           : #000000;
  background-color: #fafafa;
  border-left     : solid 0.3em;
  border-color    : #1c0de2a6;
  border-collapse : collapse;

  text-align: left;

  width: 100%;
}

tr {
  border-bottom: dotted 1px darkblue;
  padding      : 1em;
}

td:hover {
  background-color: rgb(187, 208, 247);
  color           : rgb(0, 0, 0);
}

/*************************************************************************************/

#iron-man {
  border-color: #ffffff;
}

#hulk {
  border-right-color: #74e6ba;
}

#rotten-tomatoes {
  background-color: #FF0339;
  color           : #ffffff;
}

#IMDB {
  background-color: #ffd327;
}