.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fl {
    float   : left;
    _display: inline;
}

.w-100 {
    width: 100%;
}

.bg-light-gray {
    background-color: #eee;
}

.bg-near-white {
    background-color: #f4f4f4;
}

.tc {
    text-align: center;
}

@media screen and (min-width: 30em) {
    .w-50-ns {
        width: 50%;
    }
}

/**/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fl {
    float   : left;
    _display: inline;
}

.w-50 {
    width: 50%;
}

.bg-light-gray {
    background-color: #eee;
}

.bg-near-white {
    background-color: #f4f4f4;
}

.tc {
    text-align: center;
}

/**/
.lh-copy {
    line-height: 1.5;
}

.mw5 {
    max-width: 16rem;
}

.bg-light-gray {
    background-color: #eee;
}

.pa3 {
    padding: 1rem;
}

.mt0 {
    margin-top: 0;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left : auto;
}

@media screen and (min-width: 30em) {
    .mw7-ns {
        max-width: 48rem;
    }

    .ph5-ns {
        padding-left : 4rem;
        padding-right: 4rem;
    }
}