/*

footer

*/



footer{
    border-top: 1px solid;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
  }
  
  
  footer ul{
      text-decoration: none;
      padding-left: 0;
      list-style-type: none;
  }
  footer li{
      padding: 5px;
      text-decoration: none;
  }
  
  footer a{
    text-decoration: none;
    font-size: 18px;
  }
  footer a:hover{
    text-decoration: none;
  }
  
  footer h4{
    text-align: center;
    border: 1px solid;
    border-radius: 0px;
    font-size: 20px;
    font-weight: 5px;
    padding: 15px;
    border-bottom: 1px solid;
    border-right: 1px solid;
  }
  
  footer h4:hover{
      border-bottom: 2.5px solid;
      border-right: 2.5px solid;
      border-radius: 0px;
  }
  
  
  footer li{
    padding: 15px;
    margin: 0%;
    text-align: left;
  }
  footer li:hover{
    border-radius: 0px;
  }
  
  
  .closure{
    width: 100%;
    display: inline-block;
    border-top: solid 1px;
    padding: 5px;
    text-align: center;
  }
  
  
  
  
  
  /*Section small 1***********************************************************************/
  .footer-light-list-wrap-about{
    text-align: left;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0%;
  }
  .footer-light-list-wrap-about li{
    border-left: solid 1px;
  }
  .footer-light-title-about{
    border-left: solid 0px;
    padding: 20px;
  }
  /*big screens*/
  @media screen and (min-width: 800px){
    .footer-light-list-wrap-about{
        padding: 0px;
        width: 25%;
    }
    .footer-light-title-about{
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
    }
    .footer-light-title-about-inner{
        padding: 20px;
        margin-bottom: 2%;
    }
  }
  /*small screens*/
  @media screen and (max-width: 500px){
    .footer-light-list-wrap-about{
        padding: 0px;
        margin-bottom: 1px;
    }
    .footer-light-title-about{
        border-style: none;
  
    }
  }
  
  
  
  
  /*Section small 2***********************************************************************/
  
  .footer-light-list-wrap-contact{
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0%;
  }
  .footer-light-title-contact{
    border: 0px;
    border-right: 0px solid;
    padding: 20px;
  }
  /*big screens*/
  @media screen and (min-width: 800px){
    .footer-light-list-wrap-contact{
        padding: 0px;
        width: 25%;
    }
    .footer-light-title-contact{
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        border-style: none;
    }
    .footer-light-title-contact-inner{
        padding: 20px;
        margin-bottom: 2%;
    }
  }
  /*small screens*/
  @media screen and (max-width: 500px){
    .footer-light-list-wrap-contact{
        padding: 0px;
        margin-bottom: 1px;
    }
    .footer-light-title-contact{
        border-style: none;
  
    }
  }
  
  
  
  /*Section small 3***********************************************************************/
  
  .footer-light-list-wrap-learn{
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0%;
  }
  
  .footer-light-title-learn{
    border: 0px;
    border-style: none;
    padding: 20px;
  }
  /*big screens*/
  @media screen and (min-width: 800px){
    .footer-light-list-wrap-learn{
        padding: 0px;
        width: 25%;
    }
  
    .footer-light-title-learn{
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        border-style: none;
    }
    .footer-light-title-learn-inner{
        padding: 20px;
        margin-bottom: 2%;
    }
  }
  /*small screens*/
  @media screen and (max-width: 500px){
    .footer-light-list-wrap-learn{
        padding: 0px;
        margin-bottom: 1px;
    }
    .footer-light-title-learn{
        border-style: none;
  
    }
  }
  
  
  
  /*Section small 4***********************************************************************/
  
  .footer-light-list-wrap-follow{
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0%;
  }
  .footer-light-title-follow{
    border: 0px;
    border-style: none;
    border-left: 0px solid ;
    padding: 20px;
  }
  .footer-light-list-wrap-follow li{
    border-right: 1px solid ;
  }
  /*big screens*/
  @media screen and (min-width: 800px){
    .footer-light-list-wrap-follow{
        padding: 0px;
        width: 25%;
    }
    .footer-light-title-follow{
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
    }
    .footer-light-title-follow-inner{
        padding: 20px;
        margin-bottom: 2%;
    }
  }
  /*small screens*/
  @media screen and (max-width: 500px){
    .footer-light-list-wrap-follow{
        padding: 0px;
        margin-bottom: 1px;
    }
    .footer-light-title-follow{
        border-style: none;
  
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  /*-----Bigger screens-----*/
  @media screen and (min-width: 800px){
  
  }
  
  
  /*-----Small screens-----*/
  @media screen and (max-width: 500px){
    footer li{
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
      border-radius: 0px;
      text-align: left;
      display: block;
      border: 2px;
      border-right: solid 1px ;
      border-left: 1px solid;
    }
    footer li:hover{
          border-bottom-style: none;
          border-radius: 0px;
    }
  }
  