.db {
    display: block;
}

.dib {
    display: inline-block;
}

.b {
    font-weight: bold;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.list {
    list-style-type: none;
}

.mid-gray {
    color: #555;
}

.pa2 {
    padding: .5rem;
}

.pa3 {
    padding: 1rem;
}

.mr2 {
    margin-right: .5rem;
}

.f4 {
    font-size: 1.25rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) {
    .pa5-ns {
        padding: 4rem;
    }

    .f2-ns {
        font-size: 2.25rem;
    }
}





/*

class="list pa3 pa5-ns"
class="f4 f2-ns b db pa2 link dim mid-gray"

b db pa2 link dim mid-gray


*/