

$base-font-family: 'Source Sans Pro',Helvetica, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;


$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",'Montserrat',Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";



$spacing-unit:     30px;

$text-color:       #000;
$backgroundColor: #ffffff;
$bodyColor: #000000;
$brand-color:      #F50057;







body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}












*{
    transition-duration        : 0.2s;
    -moz-transition-duration   : 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration     : 0.2s;
    font-family: 'Muli','Montserrat', sans-serif;
    text-rendering             : optimizeLegibility;
    -webkit-font-smoothing     : antialiased;
    -moz-osx-font-smoothing    : grayscale;
}


img{
  border-radius: 0em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;

}

.hover:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



img:hover{
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}



ul{
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

li{
  list-style: none;
}

nav{
  border-radius: 0em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: auto;
  white-space: nowrap;
  margin: 0em;
}

.padding-1{
  padding : 1em;
}
.padding-0{
  padding : 0em;
}
.margin-0{
  margin: 0em;
}
/****************************backgrounds*********************************/

.blue-background{
  text-align: center;
  color: #ffffff;
  background-color: #3f62ee;
}

#light-blue{
background-color: #49bcf6;
}

#black-background{
  color: #ffffff;
  background-color: #000000;
  border-radius: 0em;
}

#green{
  background-color: #74e6ba;
}

.red{
  background-color: #FF0330;
  color: #ffffff;
}

#purple{
  color: #5F4B8B;
}

/************************************************************************************************************************/
.title{
  color: #fff; font-family: 'Bungee Outline', sans-serif;
}

.topfour{
  background-color: #4b3879;
  color: #ffffff;
}
.topfour a{
  color: #BAF1FF;
}
.topfour a:hover{
  color: #ffffff;
  text-decoration: none;
}
.relegation{
  background-color: #b63434;
  color: #ffffff;
}
.liverpool:hover{
  text-decoration: underline;
}

#captain{
  background-color: #FF0339;
  color: #ffffff;
}
#captain:hover{
  background-color: #FF0330;
}
#captain a{
  color: #ffffff;
}

#loan:hover{
  background-color: #1976d2;
  color: #ffffff;
}

#loaned-out{
  background-color: #004d40;
  color: #ffffff;
}

#championsLeagueImage{
  background-color: none;
}
#qualification{
  background-color:#6000FF;
  color: #ffffff;
}
#topFour{
  background-color: #BAF1FF;
}
#relegation{
  background-color: #b63434;
  color: #ffffff;
}

#euroQualification{
  background-color: #FF9619;
}
/*********************************************************/
.table-overflow{
  overflow-x: auto;
}
table {
  border-left: solid 0.3em;
  border-color: #19225e;
  border-collapse: collapse;

  text-align: left;

  width: 100%;
}

/*************************************************************************************/

#iron-man{
    background-color: none;
    color: #000000;
}
#hulk{
    border-right-color: #74e6ba;
}

#rotten-tomatoes{
    background-color: #df1c1c;
    color: #ffffff;
}

#IMDB{
    background-color: #ffd327;
}


/************************************************************************************/
