/*here is my insanely messy code!! :)*/

/*

fonts to use



    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Questrial', sans-serif;

    font-family: 'Vollkorn', serif;

    font-family: 'Bitter', serif;

    font-family: 'Source Sans Pro', sans-serif;


wall
background-image: url("/assets/Pics/drawing-4.svg");

*/

/*Base css*/
html{
    font-family: 'Questrial', sans-serif;
    /*background-color:#0c101c;*/
    background-color: #f6f9fc;

}

body{
    color: #000000;
    margin: 0px;
}
a{
  color: #000000;
  text-decoration: none;
}
a:hover{
    color:#2979FF;
}

h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 500px){
    h1{
        font-size: 2.5em;
    }
}

h2, h3, h4, h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    color: #000000;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


ul{
    text-decoration: none;
     padding-left: 0;
     list-style-type: none;
}
li{
   padding: 5px;
   text-decoration: none;
}


p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.25px;
    
}

img {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

span{
    font-size: 1em;
    letter-spacing: 1px;
}


.highlight{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 3px;
    border-radius: 0px;

}


.circle-Image img{
    object-fit: cover;
    margin: 10px;
    float: right;
    width: 100px;
    height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 420px){
    .circle-Image img{
        object-fit: cover;
        margin: 10px;
        float: right;
        width: 50px;
	    height: 50px;
	    -moz-border-radius: 50px;
	    -webkit-border-radius: 50px;
	    border-radius: 50px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    }
}










input[type=button]{
    color: #FF1744;
    background: #69F0AE;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #69F0AE;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=button]:hover{
    transition-delay: 0.3;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
@media screen and (max-width: 500px){
    .container{
        display: inline-flex;
        height: 100%;
        width: 100%;
        background-color: inherit;
    }
}



.Front-title{
    text-align: center;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ECEFF1;
    }

.Front-title-inner{
    padding-left: 10px;
    padding-right: 10px;
    }
@media screen and (max-width: 650px){
    .Front-title{

    }
}
.Front-title-photo{

}
@media screen and (max-width: 650px){
    .Front-title-photo{

    }
}
@media screen and (min-width: 1100px){
    .Front-title{
        padding-right: 150px;
        padding-left: 150px;
    }
}


@media screen and (max-width: 500px){
    .Front-title{
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;     
      }
    .Front-title-inner{
        padding: 0px;
        padding-left: 5px;
        padding-right: 5px;
      }
}




.sub-heading{
  border-right: 1px solid #408af8;
  border-top: 1px solid #408af8;
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
  padding: 5px;

}
@media screen and (min-width: 1100px){
    .sub-heading{
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media screen and (max-width: 600px){
  .sub-heading{
    border-left: 0px solid #408af8;
    border-bottom: 1px solid #408af8;
    border-right: 0px solid #408af8;
    border-top: 1px solid #408af8;
    margin: 0px;
    padding: 2px;
  }
}









.page-heading{
    font-size: 3em;
}
.post-list li{
    border-top: solid 1px #2979FF;
}
.post-list li:hover{
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
































/*Section large 1+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.Sect-l-1{
    text-align: left;
    background-color: #f6f9fc;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}
.About-para-l-1{
    border: 0px;
    border-style: none;
    border-radius: 5px;
    background: #ffffff;
    padding: 20px;
}
/*small screens*/
@media screen and (max-width: 500px){
    .Sect-l-1{
        padding: 0px;
        margin-bottom: 1px;
    }
}
/*big screens*/
@media screen and (min-width: 1100px){
    .Sect-l-1{
        width: 100%;
        padding-top: 0px;
        padding-left: 250px;
        padding-right: 250px;
        padding-bottom: 10px;
        margin: 0px;
    }
    .About-para-l-1{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-top: 5px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 20px;
    }
}





























/*Section display 1+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.display-class-1{
    text-align: left;
    background-color: #f6f9fc;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 0px solid #408af8;
    border-bottom: 0px solid #408af8;
    border-right: 0px solid #408af8;
    border-top: 0px solid #408af8;
}
.display-class-1-inner{
    border-left: 1px solid #408af8;
    border-bottom: 1px solid #408af8;
    border-right: 1px solid #408af8;
    border-top: 0px solid #408af8;
    border-radius: 0px;
    background: #f6f9fc;
    padding: 10px;
    margin-bottom: 1%;
}

.display-class-1-inner li{
    border-left: 1px solid #408af8;
    border-bottom: 0px solid #408af8;
    border-right: 0px solid #408af8;
    border-top: 0px solid #408af8;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 1%;
}
.display-class-1-inner li:hover{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}




.display-class-1-inner li img{
    width: 30%;
}


.display-class-1-inner img{
    width: 100%;
    border-radius: 0px;
}


/*small screens*/
@media screen and (max-width: 600px){
    .display-class-1{
        padding: 2px;
        margin-bottom: 1px;
    }
    .display-class-1-inner{
        padding: 5px;
    }
}
/*big screens*/
@media screen and (min-width: 1100px){
    .display-class-1{
        width: 100%;
        padding-top: 0px;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 10px;
        margin: 0px;
    }
    .display-class-1-inner{
        
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
    }
}



















/*Section medium 1_________________________________________________________________________________________________________*/

.Sect-m-1{
    text-align: left;
    background-color: inherit;
    width: 100%;
    padding: 0px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0px;
}
.About-para-m-1{
    border-bottom-style: none;
    background: inherit;
    color: #000000;

    padding: 20px;
}
/*big screens*/
@media screen and (min-width: 800px){
    .Sect-m-1{
        text-align: left;
        width: 50%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .About-para-m-1{
        padding-left: 150px;
        padding-top: 0px;
        padding-right: 0px;
        background: inherit;
        border-style: none;
    }
    .About-para-m-1-a{
        background: inherit;
        color: #000000;
        margin-right: 2%;
        margin-bottom: 1%;
        padding: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
/*small screens*/

@media screen and (max-width: 500px){
    .Sect-m-1{
        padding: 0px;
    }
    .About-para-m-1{
        border-style: none;
    }
}













































/*Section medium 2______________________________________________________________________________*/
.Sect-m-2{
    text-align: left;
    background-color: inherit;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0%;
}
.About-para-m-2{
    color: #000000;
    border: 0px;
    border-style: none;
    padding: 20px;
    background: inherit;
}

/*big screens*/
@media screen and (min-width: 800px){
    .Sect-m-2{
        text-align: left;
        width: 50%;
        padding: 0px;
    }
    .About-para-m-2-a h2{
        text-align: center;
    }
    .About-para-m-2{
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 150px;
        background: inherit;
        border-style: none;
    }
    .About-para-m-2-a{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: inherit;
        padding: 20px;
        margin-bottom: 2%;
    }
}
/*small screens*/
@media screen and (max-width: 500px){
    .Sect-m-2{
        padding: 0px;
        margin-bottom: 1px;
    }
    .About-para-m-2{
        border-style: none;

    }
}

















































/*

footer

*/



footer{
  background-color: #f6f9fc;
  color: #000000;
  border-top: 1px solid #9E9E9E;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}



footer ul{
    text-decoration: none;
    padding-left: 0;
    list-style-type: none;
}
footer li{
    padding: 5px;
    text-decoration: none;
}

footer a{
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}
footer a:hover{
  color: inherit;
  text-decoration: none;
}

footer h4{
  text-align: center;
  border: 1px solid inherit;
  border-radius: 0px;
  color: inherit;
  font-size: 20px;
  font-weight: 5px;
  padding: 15px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}

footer h4:hover{
    border-bottom: 2.5px solid #000000;
    border-right: 2.5px solid #000000;
    background-color: #ffffff;
    border-radius: 0px;
    color:#000000;
}


footer li{
  padding: 15px;
  margin: 0;
  text-align: left;
 
}
footer li:hover{
  background-color: #ffffff;
  color: #000000;
  border-radius: 0px;
}


.closure{
  width: 100%;
  display: inline-block;
  border-top: solid 1px #000000;
  padding: 5px;
  text-align: center;
}





/*Section small 1***********************************************************************/
.footer-light-list-wrap-about{
  text-align: left;
  background-color: inherit;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 0%;
}
.footer-light-list-wrap-about li{
  border-left: solid #ffffff 1px;
}
.footer-light-title-about{
  border-left: solid 1px inherit;
  padding: 20px;
  background: inherit;
}
/*big screens*/
@media screen and (min-width: 800px){
  .footer-light-list-wrap-about{
      padding: 0px;
      width: 25%;
  }
  .footer-light-title-about{
      padding-left: 0px;
      padding-top: 0px;
      padding-right: 0px;
      background: inherit;
  }
  .footer-light-title-about-inner{
      background:inherit;
      padding: 20px;
      margin-bottom: 2%;
  }
}
/*small screens*/
@media screen and (max-width: 500px){
  .footer-light-list-wrap-about{
      padding: 0px;
      margin-bottom: 1px;
  }
  .footer-light-title-about{
      border-style: none;

  }
}




/*Section small 2***********************************************************************/

.footer-light-list-wrap-contact{
  background-color: inherit;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 0%;
}
.footer-light-title-contact{
  border: 0px;
  border-right: 1px solid inherit;
  padding: 20px;
  background: inherit;
}
/*big screens*/
@media screen and (min-width: 800px){
  .footer-light-list-wrap-contact{
      padding: 0px;
      width: 25%;
  }
  .footer-light-title-contact{
      padding-left: 0px;
      padding-top: 0px;
      padding-right: 0px;
      background: inherit;
      border-style: none;
  }
  .footer-light-title-contact-inner{
      background: inherit;
      padding: 20px;
      margin-bottom: 2%;
  }
}
/*small screens*/
@media screen and (max-width: 500px){
  .footer-light-list-wrap-contact{
      padding: 0px;
      margin-bottom: 1px;
  }
  .footer-light-title-contact{
      border-style: none;

  }
}



/*Section small 3***********************************************************************/

.footer-light-list-wrap-learn{
  background-color: inherit;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 0%;
}

.footer-light-title-learn{
  border: 0px;
  border-style: none;
  padding: 20px;
  background: inherit;
}
/*big screens*/
@media screen and (min-width: 800px){
  .footer-light-list-wrap-learn{
      padding: 0px;
      width: 25%;
  }

  .footer-light-title-learn{
      padding-left: 0px;
      padding-top: 0px;
      padding-right: 0px;
      background: inherit;
      border-style: none;
  }
  .footer-light-title-learn-inner{
      background: inherit;
      padding: 20px;
      margin-bottom: 2%;
  }
}
/*small screens*/
@media screen and (max-width: 500px){
  .footer-light-list-wrap-learn{
      padding: 0px;
      margin-bottom: 1px;
  }
  .footer-light-title-learn{
      border-style: none;

  }
}



/*Section small 4***********************************************************************/

.footer-light-list-wrap-follow{
  background-color: inherit;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 0%;
}
.footer-light-title-follow{
  border: 0px;
  border-style: none;
  border-left: 0px solid #ffffff;
  padding: 20px;
  background: inherit;
}
.footer-light-list-wrap-follow li{
  border-right: 1px solid #ffffff;
}
/*big screens*/
@media screen and (min-width: 800px){
  .footer-light-list-wrap-follow{
      padding: 0px;
      width: 25%;
  }
  .footer-light-title-follow{
      padding-left: 0px;
      padding-top: 0px;
      padding-right: 0px;
      background: inherit;
  }
  .footer-light-title-follow-inner{
      background: inherit;
      padding: 20px;
      margin-bottom: 2%;
  }
}
/*small screens*/
@media screen and (max-width: 500px){
  .footer-light-list-wrap-follow{
      padding: 0px;
      margin-bottom: 1px;
  }
  .footer-light-title-follow{
      border-style: none;

  }
}











/*-----Bigger screens-----*/
@media screen and (min-width: 800px){

}


/*-----Small screens-----*/
@media screen and (max-width: 500px){
  footer li{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    border-radius: 0px;
    text-align: left;
    display: block;
    border: 2px;
    border-right: solid 1px #ffffff;
    border-left: orangered 1px solid;
  }
  footer li:hover{
        border-bottom-style: none;
        border-radius: 0px;
  }
}
