---
---
@import "{{ site.theme }}";


html{
    background-color: #424242;
}

::selection {
    background: #8EC5FC; /* WebKit/Blink Browsers */
  }
::-moz-selection {
    background: #8EC5FC; /* Gecko Browsers */
}


body{
    font-family: 'Open Sans', sans-serif;
    background-color: #90dddd;
    background-image: linear-gradient(0deg, #90dddd 0%, #ffffff 100%);


}



a{
    text-decoration: none;
    color: #303030;
}


a:hover{
    color: #2979FF;
    text-decoration: none;
}




ul{
    text-decoration: none;
    padding-left: 0;
    list-style-type: none;
}
li{
    padding: 5px;
    text-decoration: none;
    list-style: none;
}

span{
    color: #90dddd;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    padding: 0px;
}
@media screen and (max-width: 500px){
    span{
        background-color: none;
        padding: 0;
    }
}


img{
    width: 100%;
    clear: both;
    margin-bottom: 2%;
    padding: 0px;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
vid{
    width: 100%;
    clear: both;
    margin-bottom: 2%;
    padding: 0px;
    margin-top: 2%;
}
.circle-Image img{
    object-fit: cover;
    margin: 10px;
    float: right;
    width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 420px){
    .circle-Image img{
        object-fit: cover;
        margin: 10px;
        float: right;
        width: 50px;
	    height: 50px;
	    -moz-border-radius: 50px;
	    -webkit-border-radius: 50px;
	    border-radius: 50px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

input[type=button]{
    color: #FF1744;
    background: #69F0AE;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #69F0AE;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=button]:hover{
    transition-delay: 0.3;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}

















.home li:hover{
    background-color: #ffffff;
}

.home li{
    border-radius: 2.5px;
    border-bottom: solid #1A237E 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    background-color: #f0ffff;


    margin-bottom: 2px;
    text-align: left;
}


@media screen and (max-width: 800px){
    .home li{
        border-radius: 0px;
        margin-bottom: 0px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    }
}


.home li a{
    color: #000000;
}

.home li a:hover{
    color: #2979FF;
}




.site-header{
    border-top: 0px;
    background-color: #fafafa;

}









img {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}


h1{
    text-align: left;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}
@media screen and (max-width: 500px){
    h1{
        font-size:35px;
    }
}
p{
    font-size:20px;
}


footer{
    background-color: #424242;


}
footer h1, footer h2, footer h3, footer h4, footer li, footer a{
    color:white;
}
footer a:hover{
    color: #90dddd;
}
footer p{
    color: white;
    font-size: 15px;
}
