/*here is my insanely messy code!! :)*/

/*
Base css


font-families...
font-family: 'Open Sans', sans-serif;
font-family: 'Comfortaa', cursive;


*/
html{
    background-color:#0c101c;
    font-family: 'Open Sans', sans-serif;
}

body{
    color: #000000;
    margin: 0px;
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
}



svg{
    align-items: center;
  }



input[type=button]{
    color: #FF1744;
    background: #69F0AE;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #69F0AE;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=button]:hover{
    transition-delay: 0.3;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}



.Title-Head{
    width: 100%;
    font-size: 40px;
}
.Title-Head p{
    font-size: 20px;
}

.Front-title{
    width: 100%;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}
.Front-title-inner{
    padding: 20px;
}




.Sect-l-1{
    text-align: left;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}
.About-para-l-1{
    border: 0px;
    border-style: none;
    border-radius: 5px;
    padding: 20px;
}


/*small screens*/



@media screen and (max-width: 500px){

.container{
    display: inline-flex;
    height: 100%;
    width: 100%;
    background-color: inherit;
}


.Title-Head{
    font-size: 30px;
}


.Front-title{
    width: 100%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.Front-title-inner{
    padding: 0px;
}




.Sect-l-1{
    padding: 0px;
    margin-bottom: 1px;
}
}



/*CSS Large screen code*/



@media screen and (min-width: 1100px){
    .Sect-l-1{
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin: 0px;
    }
    .About-para-l-1{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-top: 20px;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 20px;
    }
}
















/*Section medium 1_________________________________________________________________________________________________________*/

.Sect-m-1{
    text-align: left;
    background-color: #ffffff;
    width: 100%;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}
.About-para-m-1{
    border-bottom-style: none;
    background: #ffffff;
    color: #000000;
    padding: 20px;
}
/*big screens*/
@media screen and (min-width: 800px){
    .Sect-m-1{
        text-align: left;
        width: 50%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .About-para-m-1{
        padding-left: 150px;
        padding-top: 0px;
        padding-right: 0px;
        background: white;
        border-style: none;
        
    }
    .About-para-m-1-a{
        background: #ffffff;
        color: #000000;
        margin-right: 2%;
        margin-bottom: 1%;
        padding: 30px;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
/*small screens*/

@media screen and (max-width: 500px){
    .Sect-m-1{
        padding: 0px;
    }
    .About-para-m-1{
        border-style: none;
    }
}
/*Section medium 1 with photo background======================================================*/
.Sect-m-1-photo{
    color: black;
    text-align: left;
    background-color: #ffffff;
    color: #ffffff;
    width: 100%;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}
.About-para-m-1-photo{
    border-bottom-style: none;
    background: url("Pictures/P1010280.JPG");
    background-size: cover;
    padding: 20px;
}
/*big screens*/
@media screen and (min-width: 800px){
    .Sect-m-1-photo{
        text-align: left;
        width: 50%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .About-para-m-1-a h2{
        text-align: center;
    }
    .About-para-m-1-photo{
        padding-left: 150px;
        padding-top: 0px;
        padding-right: 0px;
        background: white;
        border-style: none;

    }
    .About-para-m-1-a-photo{
        background: url("Pictures/P1010280.JPG");
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-size: cover;
        margin-right: 2%;
        padding: 30px;
    }
}
/*small screens*/

@media screen and (max-width: 500px){
    .Sect-m-1-photo{
        padding: 0px;
    }
    .About-para-m-1-photo{
        border-style: none;
    }
}


