<div class="white-link black-background container rounded">


  <h1 class="title">Top Podcasts to listen to this week</h1>
  <br>
  <ul>
    <h2 class="f3 mid-gray lh-title">
      <li>
        <a href="https://podcasts.apple.com/us/podcast/jnai-bridges-on-forgiveness/id1477850699?i=1000451143615"
          target="_blank">
          Open ears project: Forgiveness
        </a>
      </li>
    </h2>

    <hr>

    <h2 class="f3 mid-gray lh-title">
      <li>
        <a href="https://youtu.be/Okg2LH6XKzY" target="_blank">
          Malcom Gladwell interviewed by Joe Rogan: November 2019.
        </a>
      </li>
    </h2>

    <hr>

    <h2 class="f3 mid-gray lh-title">
      <li>
        <a href="https://podcasts.apple.com/gb/podcast/seven-where-we-go-one/id1507423923?i=1000476099898"
          target="_blank">
          Rabbit Hole
        </a>
      </li>
    </h2>

    <hr>


    <h2 class="f3 mid-gray lh-title">
      <li>
        <a href="https://podcasts.apple.com/gb/podcast/one-more-thing-with-steve-wozniak/id1319947289?i=1000473618437"
          target="_blank">
          Command_Line Heroes
        </a>
      </li>
    </h2>

    <hr>

    <h2 class="f3 mid-gray lh-title">

      <li>
        <a href="https://podcasts.apple.com/gb/podcast/rethinking-the-innovation-ecosystem/id1172218725?i=1000477421592"
          target="_blank">
          Rethinking the Innovation Ecosystem
        </a>
      </li>

    </h2>

    <hr>

    <h2 class="f3 mid-gray lh-title">
      <li>
        <a href="https://podcasts.apple.com/us/podcast/flashback-9-the-apple-iii/id1498617506?i=1000476873734"
          target="_blank">
          Flashback
        </a>
      </li>
    </h2>

    <hr>

    <h2 class="f3 mid-gray lh-title">
      <li>
        <a href="https://podcasts.apple.com/us/podcast/netflix-is-a-team-not-a-family/id1465767420?i=1000479218645"
          target="_blank">
          Land of the Giants
        </a>
      </li>
    </h2>



  </ul>
</div>