---
layout: default
---

<article>
  <header class="bg-gold sans-serif">
    <div class="mw9 center pa4 pt5-ns ph7-l">
      <time class="bg-black-90 f6 white mb2 dib ttu tracked"><small>{{page.lastUpdated}}</small></time>
      <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="lh-copy pa1 tracked-tight">
          {{page.title}}
        </span>
      </h3>
      <h4 class="f3 fw1 georgia i">{{page.description}}</h4>
      <h5 class="f6 ttu tracked black-80"></h5>
    </div>
  </header>
  <div class="container pa4 ph7-l georgia mw9-l center">
    <p class="f5 f3-ns lh-copy measure georgia">
      {{content}}
    </p>
  </div>
</article>
