<!Doctype html>
<html lang="en">
{% include head.html %}
<body>
{%include header.html%}


<article data-name="article-full-bleed-background">
  <div class="cf" id="link-b-1" style="background-image: url(/assets/img/WP_20141130_16_22_31_Pro__highres.jpg); background-repeat: no-repeat;  background-size      : cover;  background-attachment: fixed;">
    <div class="fl pa3 pa4-ns bg-white black-70 measure-narrow f3 times">
      <header class="bb b--black-70 pv4" style="color:#000000;">
        <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">{{page.title}}</h3>
        <h4 class="f3 fw4 i lh-title mt0">{{page.description}}</h4>
      </header>
      <section class="pt5 pb4" style="color:#000000;">
        <p class="times lh-copy measure f4 mt0">
          {{content}}
        </p>
      </section>
    </div>
  </div>
</article>
{% include footer.html %}

</body>
</html>
