---
layout: default
---

<body>
    <main class="projects-wrap">

        <div class="projects-left">
            <h1 class="projects-title">{{page.title}}</h1>
            <p class="projects-subtitle">{{page.description}}</p>
        </div>

        <div class="projects-right">

            <div class="body spectral-medium text-center padding-1">
                <div style="background-color: black; color: azure; padding: 2em;">
                    <h3>This website is currently under construction. Some features may not function as expected, and
                        some
                        information
                        may require verification.</h3>
                </div>
                {{content}}
            </div>

            <footer>
                <span>3 posts</span>
            </footer>

        </div>

    </main>
</body>