<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{% include head.html %}

<body>
  {{ content }}
</body>
<script>
  function getGreeting() {
    const now = new Date();
    const hour = now.getHours();
    let greeting;

    if (hour < 12) {
      greeting = "Chill out this morning";
    } else if (hour < 18) {
      greeting = "Peace this afternoon";
    } else {
      greeting = "Good evening";
    }

    return greeting;
  }

  // Display the greeting
  document.getElementById("greeting").innerText = getGreeting();
</script>

</html>