<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{% include head.html %}

<body>
  {{ content }}
</body>

<script>
  function getGreeting() {
    const now = new Date();
    const hour = now.getHours();
    let greeting;

    if (hour < 12) {
      greeting = "Chill out this morning";
    } else if (hour < 18) {
      greeting = "Peace this afternoon";
    } else {
      greeting = "Good evening";
    }

    return greeting;
  }

  // Display the greeting
  document.getElementById("greeting").innerText = getGreeting();

  // Dynamic nav
  const nav = document.querySelector('nav');
  const whiteSection = document.querySelector('.post-body');

  function checkNavPosition() {
    const navRect = nav.getBoundingClientRect();
    const whiteSectionRect = whiteSection.getBoundingClientRect();

    // Check if navbar overlaps with white section
    if (navRect.bottom > whiteSectionRect.top && navRect.top < whiteSectionRect.bottom) {
      nav.classList.add('dark-mode');
    } else {
      nav.classList.remove('dark-mode');
    }
  }

  // Check on scroll
  window.addEventListener('scroll', checkNavPosition);

  // Check on load
  checkNavPosition();

</script>
</html>