<!Doctype html>
<html lang="en">
{% include head.html %}
<body>
{%include header_2.html%}
<div class="container">




<div class="Front-title">
<div class="Front-title-inner">
<h1>{{ page.title }}</h1>
<div class="sub-heading">
<h2>{{ page.description }}</h2>
           
</div>
</div>
</div>















<div class="Sect-l-1">
<div class="About-para-l-1">
{{ content }}
</div>
</div>


<div class="Sect-s-1">
<div class="About-para-s-1">
<div class="About-para-s-1-a">        

</div>
</div>
</div>

<div class="Sect-s-2">
<div class="About-para-s-2">
<div class="About-para-s-2-a">
      
</div>
</div>
</div>

<div class="Sect-s-3">
<div class="About-para-s-3">
<div class="About-para-s-3-a">
        
</div>
</div>
</div>

<div class="Sect-s-4">
<div class="About-para-s-4">
<div class="About-para-s-4-a">
        
</div>
</div>
</div>


{% include footer.html %}





</div>









</body>
</html>