<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<div class="container" style="background-color: #2f3cf7;">
<div class="Front-title">
<div class="Front-title-inner">
<h1>{{page.title}}</h1>
<div class="sub-heading">
<h2>{{page.description}}</h2>
</div>
</div>
</div>
<div class="Sect-m-1">
<div class="About-para-m-1">
<div class="About-para-m-1-a">
<u><h1>Data</h1></u>


<div class="display-class-1-inner">
<ul>
<a class="post-link" href="/pages/Sport_pages/SportsData/score.html"><li>Scores</li></a>
</ul>
</div>
</div>
</div>
</div>

<div class="Sect-m-2">
<div class="About-para-m-2">
<div class="About-para-m-2-a">
<u><h1>Profiles</h1></u>
<div class="display-class-1-inner">
{{content}}
</div>
</div>
</div>
</div>
</div>
{% include footer.html %}
</body>
</html>