<!DOCTYPE html>
<html>
  {% include head.html %}
  
  <body>
    
    {% include header_2.html %}
    <div class="container">
    <div class="front-heading">
    <!--<img src="/assets/img/drawing_01.svg">-->
    <div class="About-para-l-1">
    <h1 style="font-size: 3em; color: #f82424; border-bottom:1px solid #3562e3">Welcome to Five-Link</h1>
    <h1>{{site.description}}</h1>
    </div>
    </div>
    </div>
  
    <div class="page-content">
      
  
      <div class="wrapper">
        
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
