---
layout: Page_home_layout
---
<head>
  <style>
    .page-heading{
      font-size: 3em;
    }
    .post-list li{
      border-top: solid 1px #2979FF;
      transition-delay: 1s;
      -moz-transition-delay: 1s;
      -webkit-transition-delay: 1s;
    }
    .post-list li:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
</head>

<div class="home">



  <h1 class="page-heading">Five-Link Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          
        </h2>
        
        {{ post.description }}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
