---
layout: default
---
<article class="cf ph3 ph5-ns pv5">
  <header class="fn fl-ns w-50-ns pr4-ns">
    <h1 class="jumbotron f2 lh-title fw9 mb3 mt0 pt3 bt bw2">
      {{page.title}}
    </h1>
    <h2 class="f3 mid-gray lh-title">
      {{page.description}}
    </h2>
    <time class="f6 ttu tracked gray">{{page.update}}</time>
  </header>
  <div class="fn fl-ns w-50-ns">
    <p class="f5 lh-copy measure mt0-ns">
      {{content}}
    </p>
    <p class="f5 lh-copy measure">

    </p>
  </div>
</article>
