<!Doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      {%include header.html%}
      
      
      
      <div class="Front-title">
        <div class="Front-title-inner">
          <h1>Welcome</h1>
        </div>
      </div>


      <div class="Sect-l-1">
        <div class="About-para-l-1">

          {{ content }}

        </div>
      </div>

      
      {% include footer.html %}







    </div>
    {% include analytics.html %}
  </body>
</html>
