---
layout: default
---


<div class="header padding-top">{% include navbar.html %}</div>
<div class="post-body">
  <div class="post-container">
    <div class="post-header">
      <div class="site-title">{{site.title}}</div>
      <h1 class="post-title">{{page.title}}</h1>
      <h3 class="post-meta">{{page.description}}</h3>
      <div class="post-meta">date published: {{page.date}}</div>
      
    </div>
    <article class="post-content">
      <div class="card-image card">
      <img class="db" src="{{ page.img }}" alt="img"/>
      </div>
      <p>{{content}}</p>
    </article>
  </div>
</div>
{% include footer.html %}