---
layout: default
---

<article class="athelas">
    <div class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url({{page.img}}) no-repeat center;">
      <div class="dtc v-mid">
        <header class="white-70">
          <h2 class="f6 fw1 ttu tracked mb2 lh-title"></h2>
          <h3 class="f6 fw1 lh-title">{{page.lastUpdated}}</h3>
        </header>
        <h1 class="f1 f-headline-l fw1 white-60">{{page.title}}</h1>
        <blockquote class="ph0 mh0 measure f4 lh-copy center">
          <p class="fw1 white-70">
           {{page.description}}
          </p>
          <cite class="f6 ttu tracked fs-normal"></cite>
        </blockquote>
      </div>
    </div>
   <div class="container">
      <h1 class="f1 lh-title">{{page.title}}</h1>
      <p class="fw1 black-70">
        {{page.description}}
       </p>
       <hr>
      {{content}}
  </div>
  </article>