---
layout: default
---

<main class="cf pa3 pa4-m pa5-l mw9 center">
    <div class="fr w-100 w-80-l">
       
      <p class="f6">
        {{page.time}}
      </p>
      <h1 class="f2 f1-l lh-title mt0 mb4 mb5-ns">
        {{page.title}}<br class="dn db-ns"> {{page.description}}
      </h1>
    </div>
    <div class="f6 lh-copy fl w-100 mb4">
      <div class="fl-ns w-100 w-20-l pr3-m pr5-l">
        <p>
           updated:<small class="fw6">{{page.update}}</small>
        </p> 
      </div>
      <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
        <p>
          
        </p> 
      </div>
      <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
        <p>
          <br class="dn db-l">
        </p> 
      </div>
      <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
        <p>
          
        </p>
      </div>
      <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
        <p>
          
        </p>
      
      </div>
      {{content}}
    </div>
    <img src="{{page.img}}" class="db" alt="page image"/>
    
  </main>