---
layout: default
---
<main class="cf pa3 pa4-m pa5-l mw9 center">
  <div class="fr w-100 w-80-l">
    <p class="f6">
      
    </p>
    <h1 class="f2 f1-l lh-title mt0 mb4 mb5-ns">
      {{page.title}}<br class="dn db-ns"> 
    </h1>
  </div>
  <div class="f6 lh-copy fl w-100 mb4">
    <div class="fl-ns w-100 w-20-l pr3-m pr5-l">
      <p>
        {{page.date}} <small class="fw6"></small>
      </p> 
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        {{page.description}}
      </p> 
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        {{content}}<br class="dn db-l"> 
      </p> 
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        
      </p>
    </div>
  </div>
  <img src="{{page.img}}" class="db" alt="show_pic"/>
</main>
