---
layout: default
---

<head>
    <link href="{{ '/assets/style_1.css' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/assets/footer.css' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet">    
</head>


<body style="font-family:'Open Sans', sans-sarif;">
    <div class="container">
        <div class="Front-title">
              <div class="Front-title-inner">
                  <h1>{{page.title}}</h1>
                  
                </div>
            </div>
            <div class="Sect-l-1">
                <div class="About-para-l-1">
                    {{content}}
                </div>
          </div>
         
          <div class="Sect-l-1">
            <div class="About-para-l-1" style ="background-color: #21D4FD;
            background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);">
              <h2></h2>
              <p></p>
            </div>
          </div>
          
          </div>
        </body>
      </html>
      